{% set lang_short = 'fr' %}
{% set menu_links = dict() %}
{% set menu_links = {
    "overview": {
        "link": "Aperçu",
        "title": "Statut serveur et service",
        "h2": "Aperçu"
    },
    "logs": {
        "link": "Logs",
        "title": "logs",
        "h2": "Les logs de",
    },
    "monitoring": {
        "link": "Monitoring",
        "title": "Outils de monitoring",
        "smon": {
            "dashboard": "RMON: tableau de bord",
            "status_page": "RMON: Page d'état",
            "history": "RMON: Historique",
            "agent": "RMON: Agent",
        },
        "net_tools": "Réseau outils",
    },
    "servers": {
        "link": "Serveurs",
        "title": "Gestion servers"
    },
    "admin_area": {
        "link": "Zone Admin",
        "title": "Zone Admin"
    },
    "history": {
        "title": "Historique de"
    }
}
%}
{% set errors = dict() %}
{% set errors = {
    "cannot_get_info": "Impossible d\'obtenir des informations sur",
    "something_wrong": "Un problème est survenu lors de l\'installation",
    "check_logs": "Vérifier les logs",
    "select_server": "Selectionner d\'abord un serveur",
    "empty_name": "Le nom ne peut pas être vide",
    }
%}
{% set settings = {
    "rabbitmq": {
        "rabbitmq_host": "RabbitMQ-server serveur",
        "rabbitmq_port": "RabbitMQ-server port",
        "rabbitmq_vhost": "RabbitMQ-server vhost",
        "rabbitmq_queue": "RabbitMQ-server queue",
        "rabbitmq_user": "RabbitMQ-server utilisateur",
        "rabbitmq_password": "RabbitMQ-server mot de passe",
        },
    "monitoring": {
        "port_scan_interval": "Interval de vérification pour le scanner de Port (en minutes)",
        "portscanner_keep_history_range": "Période de rétention pour l\'historiques le scanner de Port",
        "checker_keep_history_range": "Période de rétention pour l\'historiques de Checker",
        "checker_maxconn_threshold": "Valeur du seuil pour les alertes maxconn, en %",
        "checker_check_interval": "Valeur du seuil pour les alertes maxconn, en %",
        "action_keep_history_range": "Période de conservation de l'historique des actions (en jours)",
        },
    "smon": {
        "master_ip": "IP ou nom pour se connecter au maître RMON",
        "master_port": "Port de connexion au maître RMON",
        "agent_port": "Port RMON de l'agent",
        "keep_history_range": "Période de rétention pour l\'historiques de RMON",
        "ssl_expire_warning_alert": "Alerte type warning dès qu'un certificat SSL expire (en jours)",
        "ssl_expire_critical_alert": "Alerte tpye critical dès qu'un certificat SSL expire (en jours)",
    },
    "main": {
        "time_zone": "Fuseau horaire",
        "license": "License key",
        "proxy": "Adresse IP et port du proxy server. format proto://ip:port",
        "session_ttl": "TTL pour la session utilisateur (en jours)",
        "token_ttl": "TTL pour le jeton de l\'utilisateur (en jours)",
        "tmp_config_path": "Chemin pour le dossier temporaire. Un chemin valide doit être spécifier pour ce paramètre. Le répèrtoire doit appartenir au même utilisateur celui spécifié dans les paramètres SSH",
        "cert_path": "Chemin pour le dossier SSL. Le répèrtoire doit appartenir au même utilisateur celui spécifié dans les paramètres SSH. Le chemin doit éxister",
        },
    "mail": {
        "mail_ssl": "Activer TLS",
        "mail_from": "Addresse du of sender",
        "mail_smtp_host": "SMTP server address",
        "mail_smtp_port": "SMTP server port",
        "mail_smtp_user": "User for auth",
        "mail_smtp_password": "Password for auth",
        },
    "logs": {
        "syslog_server_enable": "Activer les logs depuis le serveur syslog",
        "syslog_server": "Adresse IP du syslog_server",
        "log_time_storage": "Période de rétention des logs pour l\'activité des utilisateurs (en jours)",
        "apache_log_path": "Chemin des logs Apache",
        },
    "ldap": {
        "ldap_enable": "Activer LDAP",
        "ldap_server": "Adresse IP du serveur LDAP",
        "ldap_port": "Port LDAP (port 389 ou 636 est défini par défaut)",
        "ldap_user": "Nom d\'utilisateur LDAP",
        "ldap_password": "Mot de passe LDAP",
        "ldap_base": "Domain de base. Exemple: dc=domain, dc=com",
        "ldap_domain": "Domaine LDAP for s'authentifier",
        "ldap_class_search": "Classe de recherche de l\'utilisateur",
        "ldap_user_attribute": "Attribut pour rechercher des utilisateurs par",
        "ldap_search_field": "Adresse e-mail de l\'utilisateur",
        "ldap_type": "Use LDAPS",
        },
    }
%}
{% set phrases = dict() %}
{% set phrases = {
    "config_file_name": "Nom du fichier de Config",
    "no_events_added": "Aucun événement ajouté pour le moment.",
    "upload_and_restart": "Charger et redémarrage",
    "upload_and_reload": "Charger et rafraîchir",
    "save_and_restart": "Sauvegarder et redémarrer",
    "save_and_reload": "Sauvegarder et rafraîchir",
    "save_title": "Sauvegarder, sans relancer le service",
    "return_to_config": "Retourner à la vue configuration",
    "check_config": "Vérifier la config",
    "master_slave": "Si vous reconfigurer le server Master, Le serveur Slave sera automatiquement reconfiguré",
    "read_about_files": "Vous pouvez lire la déscription de tous les fichiers de logs",
    "read_about_parameters": "Vous pouvez lire la déscription de tous les paramètres",
    "read_howto": "lire le HowTo",
    "howto_user": "Comment utilser",
    "select_file": "Selectionner un fichier",
    "read_how_it_works": "Vous pouvez lire comment cela fonctionne",
    "metrics_not_installed": "Vous n\'avez pas installer le service Metrics",
    "how_to_install_metrics": "Comment installer le service Metrics",
    "checker_not_installed": "Vous n'avez pas installé le service Checker",
    "how_to_install_checker": "comment installer le service de vérification",
    "auto_start_not_installed": "Vous n'avez pas installé le service de démarrage automatique",
    "enable_avg_table": "Activer l\'affichage du tableau des moyennes",
    "disable_avg_table": "Désactiver l\'affichage du tableau des moyennes",
    "protected_title": "Si la protection est activée, le serveur est inaccessible pour modification par tout le monde, sauf par le rôle d\'administrateur.",
    "slave_for_title": "Les actions effectuées avec la configuration du maître seront automatiquement appliquées sur l\'esclave.",
    "server_unknown": "l\'état du serveur est inconnu",
    "no_sub": "Vous n\'êtes pas inscrit",
    "pls_sub": "Veuillez vous inscrire pour avoir accès à cette fonctionnalité",
    "no_av_feat": "Cette fonction n\'est pas disponible pour votre plan",
    "fwd_warn": "Il y a des règles uniquement dans les chaînes INPUT, IN_public_allow et OUTPUT",
    "search_in_ad": "Rechercher un utilisateur dans AD",
    "are_you_sure": "Vous êtes sûr ?",
    "delete_dialog": "La suppression est irrécupérable, toutes les données seront perdues",
    "fields_mark": "Les champs marqués d\'un",
    "are_required": "sont nécessaires",
    "scan_title": "Analysez le serveur pour les services HAProxy, NGINX, Keepalived et Firewalld",
    "superAdmin_pass": "Vous ne pouvez pas modifier le mot de passe du rôle superAdmin",
    "superAdmin_services": "Vous ne pouvez pas modifier les services pour le rôle superAdmin",
    "pass_mismatched": "Les mots de passe ne correspondent pas",
    "private_key_note": "Clé privée. Remarque : la clé publique doit être préinstallée sur tous les serveurs auxquels vous prévoyez de vous connecter",
    "send_test_mes": "Envoyez un message de test",
    "alert_service_change_status": "Alerte sur le changement de statut du service",
    "alert_backend_change_status": "Alerte sur le changement d\'état du backend",
    "alert_number_conn": "Alerte si le nombre de connexions est sur le point d\'atteindre la limite.",
    "alert_master_backup": "Alert about changing Master/Backup status",
    "new_version": "Il y a une nouvelle version RMON. Vérifiez le",
    "all_alerts_enabled": "Les alertes sont activées",
    "disable_alerts": "Désactiver les alertes",
    "work_with_prev": "Ici, vous pouvez travailler avec les versions précédentes des configurations",
    "roll_back": "Revenir en arrière, afficher ou supprimer",
    "files_been_deleted": "Les fichiers suivants ont été supprimés",
    "version_has_been_uploaded": "La version suivante du fichier de configuration a été téléchargée et enregistrée en tant que",
    "new_config_has_been_saved": "Une nouvelle configuration a été enregistrée comme",
    "view_and_upload": "Visualisez et téléchargez cette version de la configuration",
    "int_vrrp": "Interface pour l\'adresse VRRP sur un serveur",
    "howto_ha": "Comment créer un cluster hautement disponible",
    "been_installed": "a été installé",
    "wait_mess": "Veuillez ne pas fermer ou rafraîchir la page. Attendez que le travail soit terminé. Cela peut prendre un certain temps",
    "you_are_editing": "Vous êtes en train d\'éditer",
    "section_from_server": "section à partir du serveur",
    "how_to_install": "comment installer",
    "port_check": "Check du port",
    "possible_service_name": "Nom de service possible",
    "server_info": "Info Serveur",
    "user_groups": "Groupes utilisateur",
    "comparing_config": "Comparer les fichiers de configuration",
    "select_older_config": "Sélectionnez une ancienne configuration",
    "select_newer_config": "Sélectionnez une configuration plus récente",
    "not_checked": "Sans chèque",
    "show_not_checked": "Afficher les serveurs sans vérifier",
    "read_desc_runtime_api": "Vous pouvez lire la description de tous les paramètres de l'API RunTime",
    "read_desc_statuses": "Vous pouvez lire la description des statuts",
    "login_or_pass_incorrect": "L'identifiant ou le mot de passe est incorrect",
    "can_try_again": "Vous pouvez réessayer dans",
    "is_not_installed": "n'est pas installé",
    "server_is_inaccessible_for_editing": "Ce serveur est inaccessible pour modification par tout le monde sauf le rôle d'administrateur",
    "creating_ha": "Créer un nouveau cluster haute disponibilité",
    "adding_vrrp": "Ajout d'une nouvelle adresse VRRP",
    "find_in_log": "Rechercher dans un fichier journal. Prend en charge les expressions régulières.",
    "exclude_in_log": "Exclure de la recherche dans un fichier journal. Prend en charge les expressions régulières.",
    "bytes_in": "Octets dans",
    "bytes_out": "Octets sortants",
    "current_ses": "Séances en cours",
    "total_ses": "Nombre total de séances",
    "ReqPerSec": "ReqPerSec",
    "BytesPerSec": "Octets par seconde",
    "became_master": "Devenu maître",
    "resource_record_type": "Type d'enregistrement de ressource",
    "add_to_smon_desc": "Ajouter le serveur pour vérification par RMON ping",
    "create_page_status": "Créer une page de statut",
    "not_in_cluster": "Pas dans un cluster",
    "ssh_passphrase": "Phrase secrète de la clé SSH",
    "check_interval": "Vérifiez l'intervalle",
    "check_interval_title": "Vérifiez l'intervalle. En secondes.",
    }
%}
{% set roles = {
    "superAdmin": "Possède le niveau le plus élevé de permissions administratives et contrôle les actions de tous les autres utilisateurs",
    "admin": "Accède à tout sauf à la zone d\'administration",
    "user": "Possède les mêmes droits que l\'administrateur mais n\'a pas accès à la page des serveurs.",
    "guest": "Accès en lecture seule"
    }
%}
{% set admin_page = {
    "desc": {
        "latest_repo": "RMON va essayer d\'installer la dernière version du service à partir du dépôt officiel.",
        "install_as_docker": "Installer le service comme un conteneur Docker",
        "ext_prom": "Cet Exporter sera utilisé par un Prometheus externe. Utilisez également cette case à cocher si vous mettez à jour l\'Exporter",
        "no_ansible": "Vous ne l\'avez pas installé",
        "before_install": "Avant d\'installer l\'Exporter, installez le d\'abord",
        "been_installed": "les serveurs ont été installés",
        "there_are_no": "Il n\'y a pas de serveurs Grafana ni Prometheus.",
        "country_codes": "Сodes des pays",
        "smon_desc": "RMON stands for <b>R</b>remote <b>MON</b>itoring. Application serveur",
        "checker_desc": "Checker est conçu pour surveiller les services HAProxy, Nginx, Apache et Keepalived ainsi que les backends HAProxy et maxconn.",
        "auto_start_desc": "Le service Auto Start permet de redémarrer les services HAProxy, NGINX, Apache et Keepalived s\'ils sont hors service.",
        "metrics_desc": "Collecte du nombre de connexions pour les services HAProxy, NGINX, Apache et HAProxy WAF",
        "p_s_desc": "Vérifie les ports ouverts du serveur et enregistre l\'historique.",
        "socket_desc": "Socket est un service permettant d\'envoyer des alertes et des notifications.",
        "a_new_version": "Il existe une version plus récente",
        "no_new_version": "Il n\'existe pas de version plus récente",
        "main_app": "Application principale",
        "for_updating": "Pour la mise à jour, vous devez utiliser RMON RPM ou DEB",
        "how_to_using_repo": "how to start using repository.",
        "proxy_settings": "Si le serveur RMON utilise un proxy pour se connecter à Internet, ajoutez les paramètres du proxy à yum.conf.",
        }
    }
%}
{% set smon_page = {
    "desc": {
        "before_use": "avant l\'utilisation",
        "smon_is_not_run": "Le service RMON n\'est pas en cours d\'exécution  .",
        "run_smon": "Exécutez le service RMON",
        "not_installed": "Vous n\'avez pas installé le service RMON",
        "not_added": "Vous n\'avez pas ajouté de serveurs dans le service RMON",
        "create_server": "Créez votre premier serveur",
        "see_check": "pour voir si de nouveaux contrôles ont été ajoutés",
        "do_not_sort": "Ne pas trier",
        "do_not_sort_by_status": "Ne pas trier par statut",
        "sort_status": "Trier par statut",
        "status_summary": "Résumé du statut",
        "enabled_checks": "Contrôles activés",
        "http_status_check": "Vérification du statut HTTP",
        "body_status_check": "Vérification de la réponse du corps",
        "resp_time": "Temps de réponse",
        "last_resp_time": "Dernier temps de réponse",
        "UP": "UP",
        "DOWN": "DOWN",
        "HTTP_FAILURE": "ECHEC HTTP",
        "BODY_FAILURE": " DÉFAILLANCE DU CORPS",
        "UNKNOWN": "INCONNU",
        "PORT_DOWN": "PORT DOWN",
        "DISABLED": "DÉSACTIVÉ",
        "packet_size": "Taille du paquet",
        "add_agent": "Ajouter un agent",
        "total_checks": "Chèques totaux",
        "not_assign_to_agent": "Le chèque n'est attribué à aucun agent"
        }
    }
%}
{% set nettools_page = {
    "ip_or_name": "Entrez l'adresse IP ou le nom",
    "dns_name": "Entrez un nom DNS",
    "server_portscann": "Entrez un serveur pour l'analyse des ports",
    }
%}
{% set words = {
    "apply": "appliquer",
    "true": "vrai",
    "false": "faux",
    "cache": "cache",
    "compression": "compression",
    "acceleration": "accélération",
    "start": "commencer",
    "start2": "commencer",
    "stop": "stop",
    "restart": "redémarrer",
    "service": "service",
    "service2": "service",
    "services": "services",
    "services2": "services",
    "services3": "services",
    "services4": "services",
    "started": "a démarré",
    "reload": "recharger",
    "reloading": "rechargement",
    "stopped": "arrêté",
    "no_desc": "pas de déscription",
    "process_num": "process_num",
    "version": "version",
    "version2": "version",
    "versions": "versions",
    "error": "erreur",
    "addresses": "adresses",
    "address": "adresse",
    "virtual": "virtuel",
    "hosts": "serveurs",
    "time_range": "Période de temps",
    "server": "serveur",
    "server2": "serveur",
    "status": "Statut",
    "current": "active",
    "current2": "active",
    "total": "total",
    "server_status": "statut serveur",
    "services_status": "Statut des services",
    "compare": "comparer",
    "map": "plan",
    "about": "à propos de",
    "help": "aide",
    "contacts": "contacts",
    "cabinet": "cabinet",
    "legal": "legal",
    "alert": "alerte",
    "alert2": "alerte",
    "alerts": "alertes",
    "manage": "gérer",
    "user": "utilisateur",
    "user2": "utilisateur",
    "user3": "utilisateur",
    "users": "utilisateurs",
    "users2": "usutilisateurs",
    "username": "nom d\'utilisateur",
    "servers": "serveurs",
    "servers2": "serveurs",
    "creds": "identifiants",
    "creds2": "identifiants",
    "settings": "paramètres",
    "settings2": "paramètres",
    "install": "installer",
    "installation": "installation",
    "installing": "installation en cours",
    "proxy": "proxy",
    "provisioning": "provisioner",
    "backup": "sauvegarde",
    "backup2": "sauvegarde",
    "configs": "configs",
    "configs2": "configs",
    "config": "config",
    "from": "de",
    "view": "vue",
    "internal": "applicatif",
    "internal2": "applicatif",
    "log": "log",
    "logs": "logs",
    "logs2": "logs",
    "admin_area": "zone admin",
    "group": "groupe",
    "group2": "groupe",
    "group3": "groupe",
    "groups": "groupes",
    "groups2": "groupes",
    "groups3": "groupes",
    "w_update": "mise à jour",
    "updating": "mise à jour en cours",
    "monitoring": "surveillance",
    "auto": "auto",
    "refresh": "rechargement",
    "refresh2": "rechargement",
    "no": "non",
    "not": "pas",
    "yes": "oui",
    "interval": "interval",
    "desc": "déscription",
    "login": "connexion",
    "login2": "connexion",
    "role": "rôle",
    "roles": "rôles",
    "subs": "abonnement",
    "show_all": "Tout afficher",
    "plan": "plan",
    "pay_method": "méthode de paiement",
    "active": "actif",
    "actives": "actifs",
    "open": "ouvert",
    "opened": "ouvert",
    "edit": "éditer",
    "delete": "supprimer",
    "add": "ajouter",
    "added": "ajoutée",
    "save": "sauvegarder",
    "saved": "sauvegardé",
    "saving": "sauvegarde en cours",
    "expand_all": "tout développer",
    "collapse_all": "tout réduirel",
    "raw": "brut",
    "stats": "stats",
    "note": "note",
    "back": "retour",
    "show": "afficher",
    "run": "exécuter",
    "running": "exécution en cours",
    "running2": "lancés",
    "statistics": "statistiques",
    "rollback": "retour en arrière",
    "previous": "précédent",
    "to": "à",
    "listener": "listener",
    "frontends": "frontends",
    "frontend": "frontend",
    "backends": "backends",
    "backend": "backend",
    "maintain": "maintain",
    "drain": "drain",
    "drains": "draine",
    "number": "nombre",
    "rows": "lignes",
    "row": "ligne",
    "find": "trouver",
    "exclude": "exclure",
    "file": "fichier",
    "file2": "fichier",
    "files": "fichiers",
    "here": "ici",
    "action": "action",
    "actions": "actions",
    "command": "commande",
    "save": "sauvegarder",
    "change": "changer",
    "change2": "changer",
    "changes": "changements",
    "enter": "entrer",
    "enter2": "entrer",
    "lists": "listes",
    "list": "liste",
    "sessions": "sessions",
    "session": "session",
    "and": "et",
    "select": "sélectionnez",
    "select2": "sélectionnez",
    "new": "nouveau",
    "new2": "nouveau",
    "new3": "nouveau",
    "new4": "nouveau",
    "port": "port",
    "ports": "ports",
    "table": "table",
    "w_get": "obtenir",
    "dynamically": "dynamiquement",
    "set": "définir",
    "type": "type",
    "typing": "typing",
    "size": "taille",
    "is": "est",
    "w_empty": "vide",
    "used": "used",
    "w_clear": "clair",
    "this": "ce",
    "this2": "ce",
    "this3": "ce",
    "this4": "ce",
    "entry": "entrée",
    "age": "age",
    "protocol": "protocole",
    "rate": "taux",
    "expire": "expire",
    "more": "plus",
    "info": "info",
    "source": "source",
    "overview": "vue d\'ensemble",
    "personal": "personnel",
    "read": "lire",
    "second": "seconde",
    "seconds": "secondes",
    "seconds2": "secondes",
    "minute": "minute",
    "minute2": "minute",
    "minutes": "minutes",
    "minutes2": "minutes",
    "hour": "heure",
    "hours": "heures",
    "hours2": "heures",
    "day": "jour",
    "days": "jours",
    "metrics": "métriques",
    "every": "tous",
    "every2": "tous",
    "every3": "tous",
    "hide": "masquer",
    "average": "Moyenne",
    "peak": "pic",
    "connect": "connecter",
    "connections": "connections",
    "connections2": "connections",
    "enable": "activer",
    "enabled": "activé",
    "enabled2": "activé",
    "virt": "virt",
    "virtual": "virtuel",
    "check": "contrôler",
    "check2": "contrôler",
    "checks": "vérifications",
    "checking": "vérifier",
    "protected": "protégé",
    "slave_for": "Esclave de",
    "name": "nom",
    "article": "article",
    "w_copy": "copie",
    "for": "pour",
    "history": "histoire",
    "history2": "histoire",
    "history3": "histoire",
    "rule": "règle",
    "rules": "règles",
    "rules2": "règles",
    "on": "on",
    "dest": "destination",
    "target": "cible",
    "w_input": "entrée",
    "output": "sortie",
    "password": "mot de passe",
    "email": "e-mail",
    "w_a": "un(e)",
    "w_an": "un(e)",
    "key": "clé",
    "token": "jeton",
    "channel": "canal",
    "channels": "canals",
    "job": "job",
    "cancel": "annuler",
    "repository": "dépôt",
    "init": "init",
    "period": "période",
    "the": "le",
    "scan": "scan",
    "is_there": "Est ici",
    "confirm": "confirmer",
    "confirmation": "confirmation",
    "one": "une",
    "one2": "une",
    "or": "ou",
    "upload": "ajout",
    "uploading": "ajout",
    "uploaded": "ajouté",
    "test": "test",
    "test2": "test",
    "disabled": "désactivé",
    "via": "via",
    "web_panel": "volet webl",
    "message": "message",
    "menu": "menu",
    "language": "langage",
    "apply": "appliquer",
    "logout": "déconnexion",
    "last": "dernier",
    "last2": "dernier",
    "activity": "activité",
    "never": "jamais",
    "is_online": "est en ligne",
    "is_offline": "est hors ligne",
    "valid": "valide",
    "remote": "distant",
    "remote2": "distant",
    "local": "local",
    "path": "chemin",
    "create": "créer",
    "created": "créé",
    "creating": "En création",
    "diff": "diff",
    "diff2": "diff",
    "diff3": "diff",
    "master": "master",
    "slave": "esclave",
    "slaves": "des esclaves",
    "interface": "interface",
    "as": "comme",
    "stay": "rester",
    "protection": "protection",
    "return": "retourner",
    "cluster": "cluster",
    "existing": "exitstant",
    "existing2": "exitstant",
    "success": "succès",
    "option": "option",
    "option2": "option",
    "options": "options",
    "template": "modèle",
    "templates": "modèles",
    "userlists": "listes d\'utilisateurs",
    "whitelist": "liste authorisée",
    "whitelists": "listes authorisées",
    "blacklist": "liste non authorisée",
    "blacklists": "listes non authorisées",
    "mode": "mode",
    "balance": "balance",
    "health": "santé",
    "cert": "certificats",
    "cert_name": "non du certificate",
    "certs": "certificats",
    "certs2": "certificats",
    "advanced": "avancé",
    "generate": "générer",
    "generated": "généré",
    "server_template": "Modèle-de-server",
    "custom": "personnalisé",
    "param": "param",
    "param2": "param",
    "params": "params",
    "of": "de",
    "display": "affichage",
    "default_backend": "backend par défaut",
    "rule": "règle",
    "existing": "existant",
    "domain": "domaine",
    "all": "tout",
    "just": "juste",
    "without": "sans",
    "work": "travail",
    "working": "travail",
    "section": "section",
    "section2": "section",
    "use": "utiliser",
    "available": "disponible",
    "external": "externe",
    "in": "dans",
    "folder": "dossier",
    "folder2": "dossier",
    "clone": "clone",
    "date": "date",
    "time": "heure",
    "page": "page",
    "pages": "pages",
    "body": "corps",
    "level": "niveau",
    "host": "serveur",
    "uptime": "Temps de fonctionnement",
    "downtime": "Temps d\'arrêt",
    "record": "record",
    "record_type": "Type d\'enregistrement",
    "upstream": "en amont",
    "haproxy": "HAProxy",
    "nginx": "NGINX",
    "apache": "Apache",
    "keepalived": "Keepalived",
    "scan": "scan",
    "notify": "avertir",
    "notification": "notification",
    "keeping": "gardant",
    "keep": "garder",
    "close": "fermer",
    "state": "état",
    "latest": "dernier",
    "cloud": "cloud",
    "provider": "provider",
    "region": "région",
    "OS": "OS",
    "created_at": "Créé à",
    "updated_at": "Mis à jour à",
    "edited_at": "Édité à",
    "instance_type": "Type d\'instance",
    "filter": "filtrer",
    "rule_name": "Nom de la règle",
    "rule": "règle",
    "rules": "règles",
    "send": "envoyer",
    "additions": "ajouts",
    "deletions": "suppressions",
    "recent": "récent",
    "already": "déjà",
    "disable": "désactiver",
    "worker": "ouvrier",
    "worker2": "ouvrier",
    "processes": "processus",
    "position": "position",
    "global": "mondial",
    "none": "aucun",
    "headers": "en-têtes",
    "value": "valeur",
    "if": "si",
    "then": "alors",
    "response": "réponse",
    "average": "moyenne",
    "average2": "moyenne",
    "cert_expire": "Expiration du certificat",
    "Hostname": "Nome de anfitrião",
    "maps": "cartes",
    "map": "carte",
    "method": "méthode",
    "tools": "outils",
    "next": "suivante",
    "agent": "agent",
    "agent2": "agent",
    }
%}
