{% set lang_short = 'pt-br' %}
{% set menu_links = dict() %}
{% set menu_links = {
    "overview": {
        "link": "Visão geral",
        "title": "Servidor e seu estado",
        "h2": "Visão geral"
    },
    "logs": {
        "link": "Logs",
        "title": "logs",
        "h2": "Logs de"
    },
    "monitoring": {
        "link": "Monitorização",
        "title": "Ferramentas de monitorização",
        "smon": {
            "dashboard": "Painel",
            "history": "Histórico",
            "status_page": "Página de status",
            "agent": "Agentes",
        },
        "net_tools": "Rede ferramentos",
    },
    "servers": {
        "link": "Servidores",
        "title": "Gerenciar servidores"
    },
    "admin_area": {
        "link": "Area de administração",
        "title": "Area de administração"
    },
    "history": {
        "title": "Histórico de"
    }
}
%}
{% set errors = dict() %}
{% set errors = {
    "cannot_get_info": "Não é possível obter informações sobre",
    "something_wrong": "Algo deu errado com a instalação de",
    "check_logs": "Verificar logs",
    "select_server": "Selecione un servidor",
    "empty_name": "O nome não pode estar vazio"
    }
%}
{% set settings = {
    "rabbitmq": {
        "rabbitmq_host": "RabbitMQ-server host",
        "rabbitmq_port": "RabbitMQ-server port",
        "rabbitmq_vhost": "RabbitMQ-server vhost",
        "rabbitmq_queue": "RabbitMQ-server queue",
        "rabbitmq_user": "Usuario de RabbitMQ-server",
        "rabbitmq_password": "Senha do RabbitMQ-server",
        },
    "monitoring": {
        "port_scan_interval": "Intervalo de verificação para o Port scanner (em minutos)",
        "portscanner_keep_history_range": "Período de retenção de historico de Port scanner",
        "checker_keep_history_range": "Período de retenção de historico de Checker",
        "checker_maxconn_threshold": "Valor limite para a notificação de maxconn, em %",
        "checker_check_interval": "Intervalo de verificação para o Checker (em minutos)",
        "action_keep_history_range": "Período de retenção do histórico de ações (em dias)",
        },
    "smon": {
        "master_ip": "Lista de endereços IP ou nomes para conexão ao mestres RMON. Especificado separado por vírgula",
        "master_port": "Porta para conexão ao mestre RMON",
        "agent_port": "Porta RMON do agente",
        "keep_history_range": "Período de retenção de historico de RMON",
        "ssl_expire_warning_alert": "Aviso de alerta sobre a expiração do certificado SSL (em dias)",
        "ssl_expire_critical_alert": "Alerta critico a expiração do certificado SSL (em dias)",
    },
    "main": {
        "time_zone": "Fuso horário.",
        "license": "Chave de licença",
        "proxy": "Endereço e porta de prowy. Utiliza proto://ip:port",
        "session_ttl": "TTL de sessão de usuario (em dias)",
        "token_ttl": "TTL de token de usuario (em dias)",
        "tmp_config_path": "Caminho para o  diretório temporário.. Indica um caminho válidos. O dono do directorio deve ser o usuario indicado na configuração de SSH. O camihno deve existir",
        "cert_path": "Caminho para o diretório SSL. O dono do directorio deve ser o usuario indicado na configuração de SSH. O camihno deve existir",
        },
    "mail": {
        "mail_ssl": "Ativar TLS",
        "mail_from": "Endereço do remetente",
        "mail_smtp_host": "Endereço de servidor SMTP",
        "mail_smtp_port": "Endereço de servidor SMTP",
        "mail_smtp_user": "Nom de usuario",
        "mail_smtp_password": "Senha",
        },
    "logs": {
        "syslog_server_enable": "Obter logs do servidor Syslog",
        "syslog_server": "Endereço de servidor Syslog",
        "log_time_storage": "Período de retenção de logs de atividade (em dias)",
        "apache_log_path": "Caminho para os logs de Apache",
        },
    "ldap": {
        "ldap_enable": "Ativar LDAP",
        "ldap_server": "Endereço de servidor LDAP",
        "ldap_port": "Proto de LDAP(porta 389 or 636 està utilizado por defeito)",
        "ldap_user": "Nom de usuario de LDAP",
        "ldap_password": "Senha LDAP",
        "ldap_base": "Domínio base.. Exemplo: dc=domain, dc=com",
        "ldap_domain": "Domínio LDAP para entrar",
        "ldap_class_search": "Classe para buscar o usuario",
        "ldap_user_attribute": "Atributo para buscar",
        "ldap_search_field": "Endereço email do usuario",
        "ldap_type": "Utilizar LDAPS",
        },
    }
%}
{% set phrases = dict() %}
{% set phrases = {
    "accepted_status_code": "Código de status aceito",
    "config_file_name": "Nome de arquivo de configuração",
    "no_events_added": "Nenhum evento adicionado.",
    "upload_and_restart": "Carregar e reiniciar",
    "upload_and_reload": "Carregar e recarregar",
    "save_and_restart": "Salvar e reiniciar",
    "save_and_reload": "Salvar e recarregar",
    "save_title": "Salvar em reiniciar o serviço",
    "return_to_config": "Voltar para a configuração",
    "check_config": "Verificar o config",
    "master_slave": "Se você econfigurar o servidor mestre, o escravo será reconfigurado automaticamente",
    "read_about_files": "Você pode ler a descrição dos arquivos de configuração",
    "read_about_parameters": "Você pode ler a descrição de todos os parâmetros",
    "read_howto": "ler um HowTo sobre isso",
    "howto_user": "Como utilizar",
    "select_file": "Escolhe um arquivo",
    "read_how_it_works": "Você pode ler como isso funciona",
    "metrics_not_installed": "Você não instalou o serviço Métricas",
    "how_to_install_metrics": "Como instalar o serviço Métricas",
    "checker_not_installed": "Você não tem o serviço Checker instalado",
    "how_to_install_checker": "como instalar o serviço verificador",
    "auto_start_not_installed": "Você não tem o serviço de início automático instalado",
    "enable_avg_table": "Ativar exibição da tabela de médias",
    "disable_avg_table": "Desativar exibição da tabela de médiasDisable display of the table of averages",
    "protected_title": "Se a proteção estiver ativada, o servidor ficará inacessível para edição por todos, exceto administradores",
    "slave_for_title": "A edição da configuração do servidor mestre será applicada no servidor escravo",
    "server_unknown": "O status do servidor é desconhecido",
    "no_sub": "Você não está inscrito",
    "pls_sub": "Assine para ter acesso a este recurso",
    "no_av_feat": "Este recurso não é disponível para este tarifário:",
    "fwd_warn": "There are rules only from INPUT, IN_public_allow and OUTPUT chains",
    "search_in_ad": "Buscar usuario em AD",
    "are_you_sure": "Tem certeza?",
    "delete_dialog": "A exclusão é irrecuperável, todos os dados serão perdidos",
    "fields_mark": "Campos marcados com",
    "are_required": "São obrigatórios",
    "scan_title": "Examine o servidor em busca de serviços HAProxy, NGINX, Keepalived e Firewalld",
    "superAdmin_pass": "Você não pode editar a senha para a função super Admin",
    "superAdmin_services": "Você não pode editar os serviços ara a função super Admin",
    "pass_mismatched": "As senhas são incompatíveis",
    "private_key_note": "Chave privada. A chave pública deve ser pré-instalada em todos os servidores aos quais você planeja se conectar",
    "send_test_mes": "Envia uma mensagem de teste",
    "alert_service_change_status": "Alerta sobre a alteração de estado do serviço",
    "alert_backend_change_status": "Alerta sobre a alteração do status do bacjend",
    "alert_number_conn": "Alerta se o número de conexões está prestes a atingir o limite",
    "alert_master_backup": "Alerta sobre a alteração de estado do Master/Backup",
    "new_version": "Uma nova versão RMON apareceu. Verifica a",
    "all_alerts_enabled": "Alertas são ativadas",
    "disable_alerts": "Desativar alertas",
    "work_with_prev": "Aqui você pode editar as versões anteriores de configurações",
    "roll_back": "Reverta para eles, visualize ou exclua",
    "files_been_deleted": "Os seguintes arquivos foram exluídos",
    "version_has_been_uploaded": "A seguinte versão do arquivo de configuração foi carregada e salva como",
    "new_config_has_been_saved": "Um novo arquivo de de configuração foi carregado e salvo",
    "view_and_upload": "Visualizar e carregar esta versão de config",
    "int_vrrp": "Interface para endereço VRRP no servidor",
    "howto_ha": "Como criar um cluster de alta disponibilidade",
    "been_installed": "foi instalado",
    "wait_mess": "Não feche ou atualize a página. Aguarde até que o trabalho seja concluído. Isto pode tomar algum tempo",
    "you_are_editing": "Você está editando",
    "section_from_server": "Seção do servidor",
    "how_to_install": "como instalar",
    "port_check": "Verificação de porta",
    "possible_service_name": "Possible service name",
    "server_info": "Informação sobre o servidor",
    "user_groups": "Grupos de usuários",
    "comparing_config": "Comparando arquivos de configuração",
    "select_older_config": "Selecione uma configuração mais antiga",
    "select_newer_config": "Selecione uma configuração mais nova",
    "not_checked": "Sem cheque",
    "show_not_checked": "Mostrar servidores sem verificar",
    "read_desc_runtime_api": "Você pode ler a descrição de todos os parâmetros da API RunTime",
    "read_desc_statuses": "Você pode ler a descrição sobre os status",
    "login_or_pass_incorrect": "Login ou senha está incorreto",
    "can_try_again": "Você pode tentar novamente em",
    "is_not_installed": "não está instalado",
    "server_is_inaccessible_for_editing": "Este servidor está inacessível para edição por todos, exceto a função de administrador",
    "creating_ha": "Criando um novo cluster de alta disponibilidade",
    "adding_vrrp": "Adicionando um novo endereço VRRP",
    "find_in_log": "Encontre em um arquivo de log. Suporta expressões regulares.",
    "exclude_in_log": "Excluir da pesquisa em um arquivo de log. Suporta expressões regulares.",
    "bytes_in": "Bytes em",
    "bytes_out": "Bytes fora",
    "current_ses": "Current sessões",
    "total_ses": "Total de sessões",
    "ReqPerSec": "ReqPerSec",
    "BytesPerSec": "Bytes Por Segundo",
    "became_master": "Tornou-se mestre",
    "resource_record_type": "Tipo de registro de recurso",
    "add_to_smon_desc": "Adicione o servidor para verificação por ping RMON",
    "create_page_status": "Criar página de status",
    "not_in_cluster": "Não em um cluster",
    "ssh_passphrase": "Senha da chave SSH",
    "check_interval": "Verifique o intervalo",
    "check_interval_title": "Verifique o intervalo. Em segundos.",
    }
%}
{% set roles = {
    "superAdmin": "Tem o nível mais alto de permissões administrativas e controla as ações de todos os outros usuários",
    "admin": "Tem acesso em todos os lugares, exceto na área de administração",
    "user": "Tem os mesmos direitos que o administrador, mas não tem acesso à página Servidores",
    "guest": "Acesso somente leitura"
    }
%}
{% set admin_page = {
    "desc": {
        "latest_repo": "O RMON tentará instalar a versão mais recente do serviço do repositório oficial",
        "install_as_docker": "Instalar serviço como um container do Docker",
        "ext_prom": "Este exportador será usado para um Prometheus externo. Usa este checkbox para atualizar o Exporter.",
        "no_ansible": "Você não instalou",
        "before_install": "Antes de instalar exportadores, primeiro instale",
        "been_installed": "servidores instalados",
        "there_are_no": "Não há servidores Grafana e Prometheus",
        "country_codes": "Códigos de país",
        "smon_desc": "RMON significa <b>R</b>remote <b>MON</b>itoring. Aplicativo de servidor",
        "checker_desc": "O Checker foi projetado para monitorar serviços HAProxy, Nginx, Apache e Keepalived, bem como backends HAProxy e maxconn",
        "auto_start_desc": "O serviços Auto Start permite reiniciar os serviços HAProxy, NGINX, Apache e Keepalived se estiverem inoperantes",
        "metrics_desc": "Coleta o número de conexões para os serviços HAProxy, NGINX, Apache e HAProxy WAF",
        "p_s_desc": "Verifica se há portas abertas no servidor e salva o histórico",
        "socket_desc": "Socket é um serviço de envio de alertas e notificações",
        "a_new_version": "Há uma versão mais recente",
        "no_new_version": "Nã há uma versão mais recente",
        "main_app": "O aplicativo principal",
        "for_updating": "Usa RMON RPM ou DEB para atualizar",
        "how_to_using_repo": "como começar a usar repositório.",
        "proxy_settings": "Se o servidor RMON usar um proxy para se conectar à Internet, adicione as configurações de proxy ao yum.conf."
        }
    }
%}
{% set smon_page = {
    "desc": {
        "before_use": "antes de usar",
        "smon_is_not_run": "O serviço MON não é executado",
        "run_smon": "Executar o serviço RMON",
        "not_installed": "Você não instalou o serviço RMON",
        "not_added": "Você não adicionou servidores ao serviço RMON ",
        "create_server": "Crie o seu primero servidor",
        "see_check": "para ver se a nova verificação foi adicionada",
        "do_not_sort": "Não classifique",
        "do_not_sort_by_status": "Não classifique por estado",
        "sort_status": "Classifique por estado",
        "status_summary": "Resumo do estado",
        "enabled_checks": "Verificações ativadas",
        "http_status_check": "Verificação do estado HTTP",
        "body_status_check": "Verificação do corpo da resposta",
        "resp_time": "Tempo de resposta",
        "last_resp_time": "Último tempo de resposta",
        "UP": "UP",
        "DOWN": "DOWN",
        "HTTP_FAILURE": "HTTP FAILURE",
        "BODY_FAILURE": "BODY FAILURE",
        "UNKNOWN": "UNKNOWN",
        "PORT_DOWN": "PORT DOWN",
        "DISABLED": "DESABIL.",
        "packet_size": "Tamanho do pacote",
        "add_agent": "Adicionar agente",
        "total_checks": "Cheques totais",
        "not_assign_to_agent": "O cheque não é atribuído a nenhum agente"
        }
    }
%}
{% set nettools_page = {
    "ip_or_name": "Digite IP ou nome",
    "dns_name": "Insira um nome DNS",
    "server_portscann": "Insira um servidor para verificação de porta",
    }
%}
{% set words = {
    "apply": "aplicar",
    "true": "verídico",
    "false": "falso",
    "cache": "cache",
    "compression": "compressão",
    "acceleration": "aceleração",
    "start": "iniciar",
    "start2": "comece",
    "stop": "parar",
    "restart": "reiniciar",
    "service": "serviço",
    "service2": "serviço",
    "services": "serviços",
    "services2": "serviços",
    "services3": "serviços",
    "services4": "serviços",
    "started": "iniciado",
    "reload": "recarregar",
    "reloading": "recarregando",
    "stopped": "parado",
    "no_desc": "sem descrição",
    "process_num": "process_num",
    "version": "versão",
    "version2": "versão",
    "versions": "versões",
    "error": "erro",
    "addresses": "endereços",
    "address": "endereço",
    "virtual": "virtual",
    "hosts": "hosts",
    "time_range": "Intervalo do tempo",
    "server": "servidor",
    "server2": "servidor",
    "status": "estado",
    "current": "atual",
    "current2": "atual",
    "total": "total",
    "server_status": "Estado do servidor",
    "services_status": "Estado dos servidores",
    "compare": "comparar",
    "map": "mapa",
    "about": "sobre",
    "help": "ajuda",
    "contacts": "contatos",
    "cabinet": " espaço pessoal",
    "legal": "legal",
    "alert": "alerta",
    "alert2": "alerta",
    "alerts": "alertas",
    "manage": "gerar",
    "user": " usuário",
    "user2": "usuário",
    "user3": "usuário",
    "users": " usuários",
    "users2": "usuários",
    "username": "nome de usuário",
    "servers": "servidores",
    "servers2": "servidores",
    "creds": "credenciais",
    "creds2": "credenciais",
    "settings": "configurações",
    "settings2": "configurações",
    "install": "instalar",
    "installation": "instalação",
    "installing": "instalando",
    "proxy": "proxy",
    "provisioning": "provisioning",
    "backup": "backup",
    "backup2": "backup",
    "configs": "configs",
    "configs2": "configs",
    "config": "config",
    "from": "de",
    "view": "visão ",
    "internal": "interno",
    "internal2": "interna",
    "log": "log",
    "logs": "logs",
    "logs2": "logs",
    "admin_area": "área administrativa",
    "group": "grupo",
    "group2": "grupo",
    "group3": "grupos",
    "groups": "grupos",
    "groups2": "grupos",
    "groups3": "grupos",
    "w_update": "atualizar",
    "updating": "atulizando",
    "monitoring": "monitoramento",
    "auto": "auto",
    "refresh": "recarregar",
    "refresh2": "recarresr",
    "no": "não",
    "not": "não",
    "yes": "sim",
    "interval": "interval",
    "desc": "descrição",
    "login": "login",
    "login2": "login",
    "role": "função",
    "roles": "funções",
    "subs": "inscrição",
    "show_all": "Mostrar tudo",
    "plan": "plan",
    "pay_method": "método de pagamento.",
    "active": "ativo",
    "actives": "ativos",
    "open": "abrir",
    "opened": "aberto",
    "edit": "editar",
    "delete": "apagar",
    "add": "adicionar",
    "added": "adicionada",
    "save": "salvar",
    "saved": "salvo",
    "saving": "salvando",
    "expand_all": "expandir tudo",
    "collapse_all": "recolhar tudo",
    "raw": "crua",
    "stats": "estado",
    "note": "nota",
    "back": "voltar",
    "show": "mostrar",
    "run": "executar",
    "running": "executando",
    "running2": "iniciados",
    "statistics": "estatisticas",
    "rollback": "rollback",
    "previous": "anterior",
    "to": "a",
    "listener": "ouvinte",
    "frontends": "frontends",
    "frontend": "frontend",
    "backends": "backends",
    "backend": "backend",
    "maintain": "manter",
    "drain": "desativado",
    "drains": "drenos",
    "number": "número",
    "rows": "linhas",
    "row": "linha",
    "find": "busca",
    "exclude": "excluir",
    "file": "arquivo",
    "file2": "arquivo",
    "files": "arquivos",
    "here": "aqui",
    "action": "action",
    "actions": "actions",
    "command": "command",
    "save": "sakvar",
    "change": "mudar",
    "change2": "mudar",
    "changes": "mudanças",
    "enter": "entrar",
    "enter2": "enter",
    "lists": "listas",
    "list": "lista",
    "sessions": "sessões",
    "session": "sessão",
    "and": "e",
    "select": "escolhe",
    "select2": "escolher",
    "new": "novo",
    "new2": "novas",
    "new3": "novas",
    "new4": "novas",
    "port": "porta",
    "ports": "portas",
    "table": "tabela",
    "w_get": "obter",
    "dynamically": "dinamicamente",
    "set": "definir",
    "type": "tipo",
    "typing": "typing",
    "size": "size",
    "is": "dinamicamente",
    "w_empty": "vazio",
    "used": "usado",
    "w_clear": "clear",
    "this": "este",
    "this2": "esta",
    "this3": "este",
    "this4": "este",
    "entry": "entry",
    "age": "idade",
    "protocol": "protocol",
    "rate": "rate",
    "expire": "expire",
    "more": "mais",
    "info": "info",
    "source": "source",
    "overview": "visão geral",
    "personal": "pessoal",
    "read": "ler",
    "second": "segundo",
    "seconds": "segundos",
    "seconds2": "segundo",
    "minute": "minuto",
    "minute2": "minuto",
    "minutes": "minutos",
    "minutes2": "minutos",
    "hour": "hora",
    "hours": "horas",
    "hours2": "horas",
    "day": "dia",
    "days": "dias",
    "metrics": "métrica",
    "every": "cada",
    "every2": "cada",
    "every3": "cado",
    "hide": "esconder",
    "average": "médio",
    "peak": "pido",
    "connect": "conectar",
    "connections": "conexões",
    "connections2": "conexões",
    "enable": "ativar",
    "enabled": "desativar",
    "enabled2": "desativar",
    "virt": "virt",
    "virtual": "virtual",
    "check": "verificar",
    "check2": "verificar",
    "checks": "verificações",
    "checking": "verificando",
    "protected": "protegido",
    "slave_for": "Escravo para",
    "name": "nome",
    "article": "artigo",
    "w_copy": "copiar",
    "for": "para",
    "history": "histórico",
    "history2": "histórico",
    "history3": "histórico",
    "rule": "regra",
    "rules": "regras",
    "rules2": "regras",
    "on": "sobre",
    "dest": "destino",
    "target": "alvo",
    "w_input": "entrade",
    "output": "saída",
    "password": "senha",
    "email": "email",
    "w_a": "um",
    "w_an": "uma",
    "key": "chave",
    "token": "token",
    "channel": "canal",
    "channels": "canais",
    "job": "job",
    "cancel": "cancelar",
    "repository": "repository",
    "init": "init",
    "period": "periodo",
    "the": "o",
    "scan": "sondar",
    "is_there": "Tem",
    "confirm": "confirme",
    "confirmation": "confirmation",
    "one": "umo",
    "one2": "uma",
    "or": "ou",
    "upload": "carregar",
    "uploading": "carregando",
    "uploaded": "carregado",
    "test": "test",
    "test2": "test",
    "disabled": "desativado",
    "via": "via",
    "web_panel": "painel web",
    "message": "mensagem",
    "menu": "menu",
    "language": "idioma",
    "apply": "aplicar",
    "logout": "logout",
    "last": "last",
    "last2": "last",
    "activity": "atividade",
    "never": "jamais",
    "is_online": "está online",
    "is_offline": "está offline",
    "valid": "valido",
    "remote": "distante",
    "remote2": "distante",
    "local": "local",
    "path": "caminho",
    "create": "criar",
    "created": "criado",
    "creating": "crianda",
    "diff": "diff",
    "diff2": "diff",
    "diff3": "diff",
    "master": "mestre",
    "slave": "escravo",
    "slaves": "escravos",
    "interface": "interface",
    "as": "como",
    "stay": "ficar",
    "protection": "proteção",
    "return": "voltar",
    "cluster": "cluster",
    "existing": "existente",
    "existing2": "existente",
    "success": "succeso",
    "option": "opção",
    "option2": "opção",
    "options": "oopções",
    "template": "modelo",
    "templates": "modelos",
    "userlists": "listas de usuários",
    "whitelist": "lista branca",
    "whitelists": "listas brancas",
    "blacklist": "lista negra",
    "blacklists": "listas negras",
    "mode": "modo",
    "balance": "balance",
    "health": "saude",
    "cert": "certificado",
    "cert_name": "nome de certificado",
    "certs": "certificados",
    "certs2": "certificados",
    "advanced": "avançado",
    "generate": "gerar",
    "generated": "gerado",
    "server_template": "Servidor modelo",
    "custom": "custom",
    "param": "param",
    "param2": "param",
    "params": "params",
    "of": "of",
    "display": "exibir",
    "default_backend": "Default backend",
    "rule": "regra",
    "existing": "existing",
    "domain": "domain",
    "all": "todos",
    "just": "somente",
    "without": "sem",
    "work": "funcionar",
    "working": "funcionando",
    "section": "seção",
    "section2": "seção",
    "use": "use",
    "available": "disponível",
    "external": "exterior",
    "in": "em",
    "folder": "firetório",
    "folder2": "diretório",
    "clone": "clone",
    "date": "data",
    "time": "hora",
    "page": "pagina",
    "pages": "paginas",
    "body": "corpo",
    "level": "nivel",
    "host": "host",
    "uptime": "Uptime",
    "downtime": "Downtime",
    "record": "registro",
    "record_type": "tipo de registro",
    "upstream": "upstream",
    "haproxy": "HAProxy",
    "nginx": "NGINX",
    "apache": "Apache",
    "keepalived": "Keepalived",
    "scan": "sondar",
    "notify": "notificar",
    "notification": "notificação",
    "keeping": "manter",
    "keep": "mantendo",
    "close": "fechar",
    "state": "estado",
    "latest": "mais recente",
    "cloud": "nuvem",
    "provider": "provedor",
    "region": "região",
    "OS": "OS",
    "created_at": "Criado às",
    "updated_at": "Atualizado em",
    "edited_at": "Editado às",
    "instance_type": "Tipo de instância",
    "filter": "filtro",
    "rule_name": "Nome de regra",
    "rule": "regra",
    "rules": "regras",
    "send": "enviar",
    "additions": "adicionados",
    "deletions": "apagados",
    "recent": "recente",
    "already": "já",
    "disable": "desabilitar",
    "worker": "trabalhador",
    "worker2": "trabalhador",
    "processes": "processos",
    "position": "posição",
    "global": "global",
    "none": "nenhum",
    "headers": "cabeçalhos",
    "value": "valor",
    "if": "se",
    "then": "então",
    "response": "resposta",
    "average": "média",
    "average2": "médio",
    "cert_expire": "Expiração do certificado",
    "Hostname": "Nom d'hôte",
    "maps": "mapas",
    "map": "mapa",
    "method": "método",
    "tools": "ferramentas",
    "next": "próxima",
    "agent": "agente",
    "agent2": "agente",
    "agent3": "agente",
    "reconfigure": "reconfigurar",
    "request": "solicitar",
    "theme": "thema",
    "dark": "escuro",
    "light": "claro",
    "shared": "compartilhado",
    "timeout": "tempo esgotado",
    }
%}
