{% set lang_short = 'ru' %}
{% set menu_links = dict() %}
{% set menu_links = {
    "overview": {
        "link": "Обзор",
        "title": "Статус серверов и сервисов",
        "h2": "Обзор"
    },
    "logs": {
        "link": "Лог",
        "title": "логи",
        "h2": "Логи",
    },
    "monitoring": {
        "link": "Мониторинг",
        "title": "Инструменты для мониторинга",
        "smon": {
            "dashboard": "Дашборд",
            "status_page": "Страница статуса",
            "history": "История",
            "agent": "Агенты",
        },
        "net_tools": "Сетевые инструменты",
    },
    "servers": {
        "link": "Серверы",
        "title": "Управление серверами"
    },
    "admin_area": {
        "link": "Адм. панель",
        "title": "Место для админа"
    },
    "history": {
        "title": "История"
    }
}
%}
{% set errors = dict() %}
{% set errors = {
    "cannot_get_info": "Невозможно получить информацию о",
    "something_wrong": "Что-то пошло не так",
    "check_logs": "проверти логи",
    "select_server": "Сначала выберите сервер",
    "empty_name": "Поле имя не может быть пустым",
    }
%}
{% set settings = {
    "rabbitmq": {
        "rabbitmq_host": "Адрес сервера RabbitMQ",
        "rabbitmq_port": "Порт сервера RabbitMQ",
        "rabbitmq_vhost": "Виртуальный хост RabbitMQ",
        "rabbitmq_queue": "Имя очереди RabbitMQ",
        "rabbitmq_user": "Имя пользователя RabbitMQ",
        "rabbitmq_password": "Пароль пользователя RabbitMQ",
        },
    "monitoring": {
        "port_scan_interval": "Интервал проверки для Port scanner (в минутах)",
        "portscanner_keep_history_range": "Время хранения истории Port scanner",
        "checker_keep_history_range": "Время хранения истории Checker",
        "checker_maxconn_threshold": "Порог срабатывания уведомления по maxconn, в %",
        "checker_check_interval": "Интервал проверки для Checker (в минутах)",
        "action_keep_history_range": "Время хранения истории действий (в днях)",
        },
    "smon": {
        "master_ip": "IP или имя для подключения к RMON мастеру",
        "master_port": "Порт для подключения к RMON мастеру",
        "agent_port": "Порт RMON агента",
        "keep_history_range": "Время хранения истории RMON",
        "ssl_expire_warning_alert": "Предупреждение о истечении SSL-сертификата (в днях)",
        "ssl_expire_critical_alert": "Критическое предупреждение о истечении SSL-сертификата (в днях)",
    },
    "main": {
        "time_zone": "Временная зона",
        "license": "License key",
        "proxy": "IP-адрес и порт прокси сервера. Формат: proto://ip:port",
        "session_ttl": "Время жизни пользовательских сессий (в днях)",
        "token_ttl": "Время жизни пользовательских токенов (в днях)",
        "tmp_config_path": "Путь до временной директории. Путь должен существовать. Директория должна принадлежать пользователю, от имени которого подключается SSH",
        "cert_path": "Путь до SSL-директории. Путь должен существовать. Директория должна принадлежать пользователю, от имени которого подключается SSH",
        },
    "mail": {
        "mail_ssl": "Включить TLS",
        "mail_from": "Адрес отправителя",
        "mail_smtp_host": "Адрес SMTP-сервера",
        "mail_smtp_port": "Порт SMTP-сервера",
        "mail_smtp_user": "Имя пользователя",
        "mail_smtp_password": "Пароль",
        },
    "logs": {
        "syslog_server_enable": "Включение получение логов из syslog-сервера",
        "syslog_server": "IP-адрес syslog-сервера",
        "log_time_storage": "Срок хранения логов пользовательской активности (в днях)",
        "apache_log_path": "Путь до лог файлов Apache сервера",
        },
    "ldap": {
        "ldap_enable": "LDAP включен",
        "ldap_server": "IP-адрес сервера LDAP",
        "ldap_port": "Порт сервера LDAP (порт 389 или 636 используются по умолчанию)",
        "ldap_user": "Имя пользователя LDAP",
        "ldap_password": "Пароль LDAP",
        "ldap_base": "Базовый домен. Пример: dc=domain, dc=com",
        "ldap_domain": "Домен для входа",
        "ldap_class_search": "Класс для поиска пользователя",
        "ldap_user_attribute": "Атрибут для поиска пользователей",
        "ldap_search_field": "Почта пользователя",
        "ldap_type": "Использовать LDAPS",
        },
    }
%}
{% set phrases = dict() %}
{% set phrases = {
    "config_file_name": "Имя конфиг файла",
    "no_events_added": "События еще не добавлены.",
    "upload_and_restart": "Загрузить и перезагрузить",
    "upload_and_reload": "Загрузить и перезапустить",
    "save_and_restart": "Сохранить и перезагрузить",
    "save_and_reload": "Сохранить и перезапустить",
    "save_title": "Только сохранить, без перезагрузки сервиса",
    "return_to_config": "Вернуться к просмотру конфигурации",
    "check_config": "Проверить конфиг",
    "master_slave": "При изменении Master сервера, Slave будет изменен автоматически",
    "read_about_files": "Читайте описание лог файлов",
    "read_about_parameters": "Читать обо всех параметрах",
    "read_howto": "Читайте HowTo в этой",
    "howto_user": "Как использовать",
    "select_file": "Выберете файл",
    "read_how_it_works": "Как это работает можно прочитать",
    "metrics_not_installed": "У вас не установлен сервис Metrics",
    "how_to_install_metrics": "как установить сервис Metrics",
    "checker_not_installed": "У вас не установлен сервис Checker",
    "how_to_install_checker": "как установить сервис Checker",
    "auto_start_not_installed": " вас не установлен сервис Auto start",
    "enable_avg_table": "Включить отображение таблицы средних значений",
    "disable_avg_table": "Выключить отображение таблицы средних значений",
    "protected_title": "Защищенный сервер может редактировать только пользователь с ролью admin",
    "slave_for_title": "Действия над мастер сервером будут автоматически применяться к подчиненному",
    "server_unknown": "Статус сервера неизвестен",
    "no_sub": "Вы не подписаны",
    "pls_sub": "Пожалуйста, подпишитесь, чтобы иметь доступ к этой функции",
    "no_av_feat": "Эта функция не доступна в ваше плане подписке",
    "fwd_warn": "Показаны правила только для цепочек: Входящие, IN_public_allow и Исходящие",
    "search_in_ad": "Поиск в AD",
    "are_you_sure": "Вы уверены?",
    "delete_dialog": "Удаление безвозвратно, все данные будут потеряны",
    "fields_mark": "Поля, отмеченные",
    "are_required": "обязательны",
    "scan_title": "Сканировать сервер на наличие служб HAProxy, NGINX, Keepalived и Firewalld",
    "superAdmin_pass": "Нельзя менять пароль для роли superAdmin",
    "superAdmin_services": "Нельзя редактировать сервисы для роли superAdmin",
    "pass_mismatched": "Пароли не совпадают",
    "private_key_note": "Закрытый ключ. Примечание: Открытый ключ должен быть предварительно установлен на всех серверах, к которым вы планируете подключаться.",
    "send_test_mes": "Отправить тестовое сообщение",
    "alert_service_change_status": "Уведомлять о смене статуса сервиса",
    "alert_backend_change_status": "Уведомлять о смене статуса бэкенда",
    "alert_number_conn": "Уведомлять если количество соединений приближается к лимиту",
    "alert_master_backup": "Уведомлять о смене статуса Master/Backup",
    "new_version": "Доступна новая версия RMON. Проверьте",
    "all_alerts_enabled": "Уведомления включены",
    "disable_alerts": "Выключить уведомления",
    "work_with_prev": "Здесь вы можете работать с предыдущими версиями конфигов",
    "roll_back": "Откатиться к ним, просмотреть или удалить",
    "files_been_deleted": "Следующие файлы были удалены",
    "version_has_been_uploaded": "Данная версия была загружена и сохранена как",
    "new_config_has_been_saved": "Новый конфиг сохранен под именем",
    "view_and_upload": "Просмотр и загрузка этой версии конфига",
    "int_vrrp": "Интерфейс для VRRP на сервере",
    "howto_ha": "Как создать кластер высокой доступности",
    "been_installed": "был установлен",
    "wait_mess": "Пожалуйста не закрывайте и не обновляйте страницу пока работа не завершена. Это может занять некоторое время",
    "you_are_editing": "Вы редактируете",
    "section_from_server": "секцию с сервера",
    "how_to_install": "как установить",
    "port_check": "Проверка порта",
    "possible_service_name": "Возможное название службы",
    "server_info": "Информация о сервере",
    "user_groups": "Пользовательские группы",
    "comparing_config": "Сравнение файлов конфигурации",
    "select_older_config": "Выберите более старую конфигурацию",
    "select_newer_config": "Выберите более новую конфигурацию",
    "not_checked": "Без проверки",
    "show_not_checked": "Показать сервера без проверки",
    "read_desc_runtime_api": "Вы можете прочитать описание всех параметров RunTime API",
    "read_desc_statuses": "Вы можете прочитать описание статусов",
    "login_or_pass_incorrect": "Логин или пароль неверный",
    "can_try_again": "Вы можете попробовать еще раз через",
    "is_not_installed": "не установлен",
    "server_is_inaccessible_for_editing": "Этот сервер недоступен для редактирования всеми, кроме роли администратора",
    "creating_ha": "Создание нового кластера высокой доступности",
    "adding_vrrp": "Добавление нового адреса VRRP",
    "find_in_log": "Поиск в лог-файле. Поддерживает регулярные выражения.",
    "exclude_in_log": "Исключить из поиска в лог-файле. Поддерживает регулярные выражения.",
    "bytes_in": "Входящих байт",
    "bytes_out": "Исходящих байт",
    "current_ses": "Текущих сессий",
    "total_ses": "Всего сессий",
    "ReqPerSec": "Запросов в секунду",
    "BytesPerSec": "Байт в секунду",
    "became_master": "Стал мастером",
    "resource_record_type": "Тип записи ресурса",
    "add_to_smon_desc": "Добавить сервер для проверки с помощью RMON ping",
    "create_page_status": "Создать страницу статуса",
    "not_in_cluster": "Не в кластере",
    "ssh_passphrase": "Ключевая фраза SSH",
    "check_interval": "Интервал проверки",
    "check_interval_title": "Интервал проверки. В секундах.",
    }
%}
{% set roles = {
    "superAdmin": "Самый высокий уровень административных разрешений и контролирует действия всех других пользователей",
    "admin": "Доступ везде, кроме админки",
    "user": "Те же права, что и администратор, но не имеет доступа к странице серверов",
    "guest": "Доступ только для чтения"
    }
%}
{% set admin_page = {
    "desc": {
        "latest_repo": "RMON попытается установить последнюю версию сервиса из официального репозитория",
        "install_as_docker": "Установить сервис как контейнер Docker",
        "ext_prom": "Этот экспортер будет использоваться внешним Prometheus. Также используйте этот флажок, если вы обновляете экспортер.",
        "no_ansible": "You have not installed",
        "before_install": "Прежде чем устанавливать какие-либо экспортеры, сначала установите",
        "been_installed": "сервера были установлены",
        "there_are_no": "Нет серверов Grafana и Prometheus",
        "country_codes": "Коды стран",
        "smon_desc": "RMON означает <b>R</b>emote <b>MON</b>itoring. Приложение сервера",
        "checker_desc": "Checker предназначен для мониторинга сервисов HAProxy, Nginx, Apache и Keepalived, а также бэкендов HAProxy и maxconn.",
        "auto_start_desc": "Служба автозапуска позволяет перезапустить службы HAProxy, NGINX, Apache и Keepalived, если они не работают.",
        "metrics_desc": "Собирает количество подключений для сервисов HAProxy, NGINX, Apache и HAProxy WAF",
        "p_s_desc": "Проверяет сервер на наличие открытых портов и сохраняет историю",
        "socket_desc": "Socket — сервис для отправки предупреждений и уведомлений",
        "a_new_version": "Доступна новая версия",
        "no_new_version": "Нет новой версии",
        "main_app": "Главное приложение",
        "for_updating": "Для обновления необходимо использовать RMON RPM или DEB",
        "how_to_using_repo": "как начать пользоваться репозиторием.",
        "proxy_settings": "Если сервер RMON использует прокси для подключения к Интернету, добавьте настройки прокси в yum.conf.",
        }
    }
%}
{% set smon_page = {
    "desc": {
        "before_use": "перед использование",
        "smon_is_not_run": "RMON сервис не запущен.",
        "run_smon": "Запустить сервис RMON",
        "not_installed": "Вы еще не установили сервис RMON",
        "not_added": "Вы еще не добавили серверы в RMON",
        "create_server": "Создайте Ваш первый сервер",
        "see_check": "чтобы посмотреть проверки, которые были добавлены",
        "do_not_sort": "Не сортировать",
        "do_not_sort_by_status": "Не сортировать по статусу",
        "sort_status": "Сортировать по статусу",
        "status_summary": "Сводка статуса",
        "enabled_checks": "Активные проверки",
        "http_status_check": "Проверка состояния HTTP",
        "body_status_check": "Проверка реакции тела",
        "resp_time": "Время откл.",
        "last_resp_time": "Посл. время откл.",
        "UP": "ДОСТУПЕН",
        "DOWN": "НЕ ДОСТУПЕН",
        "HTTP_FAILURE": "ОШИБКА HTTP",
        "BODY_FAILURE": "ОШИБКА ТЕЛА",
        "UNKNOWN": "НЕИЗВЕСТНО",
        "PORT_DOWN": "ПОРТ НЕ ДОСТ.",
        "DISABLED": "ОТКЛ.",
        "packet_size": "Размер пакета",
        "add_agent": "Добавить Агента",
        "total_checks": "Всего проверок",
        "not_assign_to_agent": "Чек не назначен ни одному агенту"
        }
    }
%}
{% set nettools_page = {
    "ip_or_name": "Введите IP или доменное имя",
    "dns_name": "Введите доменное имя",
    "server_portscann": "Введите сервер для сканирования портов",
    }
%}
{% set words = {
    "apply": "применить",
    "true": "да",
    "false": "нет",
    "cache": "кэш",
    "compression": "сжатие",
    "acceleration": "ускорение",
    "start": "запустить",
    "start2": "начните",
    "stop": "остановить",
    "restart": "перезагрузить",
    "reload": "перезапустить",
    "reloading": "перезапуска",
    "service": "сервис",
    "service2": "сервиса",
    "services": "сервисы",
    "services2": "сервисов",
    "services3": "сервисами",
    "services4": "сервисах",
    "started": "запущен",
    "stopped": "остановлен",
    "no_desc": "нет описания",
    "process_num": "процессы",
    "version": "версия",
    "version2": "версию",
    "versions": "версии",
    "error": "ошибка",
    "addresses": "адреса",
    "address": "адрес",
    "virtual": "виртуальные",
    "hosts": "хосты",
    "time_range": "Временной промежуток",
    "server": "сервер",
    "server2": "сервере",
    "status": "статус",
    "current": "текущее",
    "current2": "текущая",
    "total": "всего",
    "server_status": "Статус сервера",
    "services_status": "Статус сервисов",
    "compare": "сверить",
    "map": "карта",
    "about": "о",
    "help": "помощь",
    "contacts": "контакты",
    "cabinet": "кабинет",
    "legal": "legal",
    "alert": "уведомление",
    "alert2": "уведомлять",
    "alerts": "уведомления",
    "manage": "управлять",
    "user": "пользователь",
    "user2": "пользователя",
    "user3": "пользовательские",
    "users": "пользователи",
    "users2": "пользователями",
    "username": "пользователь",
    "servers": "серверы",
    "servers2": "серверами",
    "creds": "учетные данные",
    "creds2": "учетными данными",
    "settings": "настройки",
    "settings2": "настройками",
    "install": "установить",
    "installation": "установка",
    "installing": "установка",
    "proxy": "прокси",
    "provisioning": "предоставление",
    "backup": "бэкап",
    "backup2": "бэкапа",
    "configs": "конфиги",
    "configs2": "конфигов",
    "config": "конфиг",
    "from": "от",
    "view": "просмотр",
    "internal": "внутренние",
    "internal2": "внутренних",
    "log": "лог",
    "logs": "логи",
    "logs2": "логов",
    "admin_area": "адм. панель",
    "group": "группа",
    "group2": "группу",
    "group3": "группы",
    "groups": "группы",
    "groups2": "групп",
    "groups3": "группами",
    "w_update": "обновить",
    "updating": "обновление",
    "monitoring": "мониторинг",
    "auto": "авто",
    "refresh": "обновление",
    "refresh2": "обновить",
    "no": "нет",
    "not": "не",
    "yes": "да",
    "interval": "интервал",
    "desc": "описание",
    "login": "логин",
    "login2": "войти",
    "role": "роль",
    "roles": "роли",
    "subs": "подписка",
    "show_all": "Показать все",
    "plan": "план",
    "pay_method": "платежный метод",
    "active": "активный",
    "actives": "активные",
    "open": "открыть",
    "opened": "открытые",
    "edit": "редактировать",
    "delete": "удалить",
    "add": "добавить",
    "added": "добавленные",
    "save": "сохранить",
    "saved": "сохраненные",
    "saving": "сохранения",
    "expand_all": "развернуть",
    "collapse_all": "свернуть",
    "raw": "сырой",
    "stats": "статистика",
    "note": "внимание",
    "back": "назад",
    "show": "показать",
    "run": "запустить",
    "running": "запущенный",
    "running2": "запущенно",
    "statistics": "статистики",
    "rollback": "откатить",
    "previous": "предыдущий",
    "to": "к",
    "listener": "листенер",
    "frontends": "фронтенды",
    "frontend": "фронтенд",
    "backends": "бэкенды",
    "backend": "бэкенд",
    "maintain": "в обслуживание",
    "drain": "отключенный",
    "drains": "отключенные",
    "number": "количество",
    "rows": "строк",
    "row": "строка",
    "find": "найти",
    "exclude": "исключить",
    "file": "файл",
    "file2": "файла",
    "files": "файлы",
    "here": "здесь",
    "action": "действие",
    "actions": "действия",
    "command": "команда",
    "save": "сохранить",
    "change": "изменение",
    "change2": "изменить",
    "changes": "изменений",
    "enter": "ввод",
    "enter2": "введите",
    "lists": "листы",
    "list": "лист",
    "sessions": "сессии",
    "session": "сессия",
    "and": "и",
    "select": "выберите",
    "select2": "выбрать",
    "new": "новый",
    "new2": "нового",
    "new3": "новую",
    "new4": "новые",
    "port": "порт",
    "ports": "порты",
    "table": "таблицу",
    "w_get": "получить",
    "dynamically": "динамически",
    "set": "установить",
    "type": "тип",
    "typing": "печатать",
    "size": "размер",
    "is": "",
    "w_empty": "пуста",
    "used": "используется",
    "w_clear": "очистить",
    "this": "эту",
    "this2": "этой",
    "this3": "этот",
    "this4": "это",
    "entry": "запись",
    "age": "возраст",
    "protocol": "протокол",
    "rate": "скорость",
    "expire": "истекает",
    "more": "больше",
    "info": "информации",
    "source": "источник",
    "overview": "обзор",
    "personal": "личный",
    "read": "читать",
    "second": "секунда",
    "seconds": "секунды",
    "seconds2": "секунд",
    "minute": "минута",
    "minute2": "минуту",
    "minutes": "минут",
    "minutes2": "минуты",
    "hour": "час",
    "hours": "часа",
    "hours2": "часов",
    "day": "день",
    "days": "дня",
    "metrics": "метрики",
    "every": "каждых",
    "every2": "каждую",
    "every3": "каждый",
    "hide": "скрыть",
    "average": "Среднее количество",
    "peak": "пиковые",
    "connect": "подключиться",
    "connections": "соединений",
    "connections2": "соединения",
    "enable": "активировать",
    "enabled": "активный",
    "enabled2": "включен",
    "virt": "вирт",
    "virtual": "виртуальный",
    "check": "проверить",
    "check2": "проверку",
    "checks": "проверки",
    "checking": "проверка",
    "protected": "защищенный",
    "slave_for": "Подчинен",
    "name": "имя",
    "article": "статье",
    "w_copy": "копировать",
    "for": "для",
    "history": "история",
    "history2": "историю",
    "history3": "истории",
    "rule": "правило",
    "rules": "правила",
    "rules2": "правил",
    "on": "на",
    "dest": "назначение",
    "target": "цель",
    "w_input": "входящие",
    "output": "исходящие",
    "password": "пароль",
    "email": "почта",
    "w_a": "",
    "w_an": "",
    "key": "ключ",
    "token": "токен",
    "channel": "канал",
    "channels": "каналы",
    "job": "работу",
    "cancel": "отмена",
    "repository": "репозиторий",
    "init": "инициализировать",
    "period": "период",
    "the": "",
    "scan": "сканировать",
    "is_there": "Установлен",
    "confirm": "подтвердить",
    "confirmation": "подтверждение",
    "one": "одну",
    "one2": "один",
    "or": "или",
    "upload": "загрузить",
    "uploading": "загрузки",
    "uploaded": "загруженный",
    "test": "тестировать",
    "test2": "тестовое",
    "disabled": "отключено",
    "via": "через",
    "web_panel": "веб интерфейс",
    "message": "сообщение",
    "menu": "меню",
    "language": "язык",
    "apply": "применить",
    "logout": "выйти",
    "last": "последняя",
    "last2": "последнее",
    "activity": "активность",
    "never": "никогда",
    "is_online": "онлайн",
    "is_offline": "офлайн",
    "valid": "действительный",
    "remote": "удаленный",
    "remote2": "удаленную",
    "local": "локальный",
    "path": "путь",
    "created": "создано",
    "create": "создать",
    "creating": "создание",
    "diff": "разница",
    "diff2": "разницу",
    "diff3": "разницы",
    "master": "мастер",
    "slave": "подчиненный",
    "slaves": "подчиненные",
    "interface": "интерфейс",
    "as": "как",
    "stay": "оставаться",
    "protection": "защита",
    "return": "вернуться",
    "cluster": "кластер",
    "existing": "существующий",
    "existing2": "существующему",
    "success": "успех",
    "option": "опция",
    "option2": "опцию",
    "options": "опции",
    "template": "шаблон",
    "templates": "шаблоны",
    "userlists": "пользовательские листы",
    "whitelist": "белый спиской",
    "whitelists": "белые списки",
    "blacklist": "черный список",
    "blacklists": "черные списки",
    "mode": "режим",
    "balance": "балансировка",
    "health": "здоровье",
    "cert": "сертификат",
    "cert_name": "имя сертификата",
    "certs": "сертификаты",
    "certs2": "сертификатов",
    "advanced": "расширенные",
    "generate": "сгенерировать",
    "generated": "сгенерированный",
    "server_template": "Шаблоны серверов",
    "custom": "Свои",
    "param": "параметр",
    "param2": "параметра",
    "params": "параметры",
    "of": "",
    "display": "показать",
    "default_backend": "Бэкенд по умолчанию",
    "rule": "правило",
    "existing": "существующие",
    "domain": "домен",
    "all": "все",
    "just": "только",
    "without": "без",
    "work": "работать",
    "working": "работа",
    "section": "секция",
    "section2": "секцию",
    "use": "использовать",
    "available": "доступные",
    "external": "внешний",
    "in": "в",
    "folder": "папку",
    "folder2": "папка",
    "clone": "клонировать",
    "date": "дата",
    "time": "время",
    "page": "страница",
    "pages": "страницы",
    "body": "тело",
    "level": "уровень",
    "host": "хост",
    "uptime": "Время работы",
    "downtime": "Время простоя",
    "record": "запись",
    "record_type": "Тип запипси",
    "upstream": "апстрим",
    "haproxy": "HAProxy",
    "nginx": "NGINX",
    "apache": "Apache",
    "keepalived": "Keepalived",
    "scan": "сканирование",
    "notify": "уведомления",
    "notification": "уведомление",
    "keeping": "хранение",
    "keep": "хранить",
    "close": "закрыть",
    "state": "состояние",
    "latest": "последняя",
    "cloud": "облако",
    "provider": "провайдер",
    "region": "регион",
    "OS": "ОС",
    "created_at": "Создано",
    "updated_at": "Обновлено",
    "edited_at": "Отредактировано",
    "instance_type": "Тип инстанса",
    "filter": "фильтр",
    "rule_name": "Название правила",
    "rule": "правило",
    "rules": "правила",
    "send": "отправить",
    "additions": "дополнения",
    "deletions": "удаления",
    "recent": "недавние",
    "already": "уже",
    "disable": "отключить",
    "worker": "рабочий",
    "worker2": "рабочих",
    "processes": "процессов",
    "position": "позицию",
    "global": "глобальный",
    "none": "нет",
    "headers": "заголовки",
    "value": "значение",
    "if": "если",
    "then": "тогда",
    "response": "отклик",
    "average": "среднее",
    "average2": "средний",
    "cert_expire": "Срок действия сертификата",
    "Hostname": "Имя хоста",
    "maps": "карты",
    "map": "карта",
    "method": "метод",
    "tools": "инструменты",
    "next": "дальше",
    "agent": "агент",
    "agent2": "агента",
    "agent3": "агенте",
    "reconfigure": "переконфигурировать",
    }
%}
