[main]
log_path = /var/log/smon
lib_path = /var/lib/smon
# Change secret_phrase to 32 url-safe base64-encoded
secret_phrase = _B8avTpFFL19M8P9VyTiX42NyeyUaneV26kyftB2E_4=

[mysql]
# By default Sqlite DB is used
enable = 0
mysql_user = rmon
mysql_password = rmon
mysql_db = rmon
mysql_host = 127.0.0.1
mysql_port = 3306
