[main]
log_path = /var/log/rmon
lib_path = /var/lib/rmon
# Prefer the RMON_SECRET_PHRASE environment variable in production.
secret_phrase = CHANGE_ME

[mysql]
# By default Sqlite DB is used
enable = 0
mysql_user = rmon
mysql_password = rmon
mysql_db = rmon
mysql_host = 127.0.0.1
mysql_port = 3306

[pgsql]
# By default Sqlite DB is used
enable = 0
user = rmon
password = rmon
db = rmon
host = 127.0.0.1
port = 5432
