<link href="{{ url_for('static', filename='css/table-6.3.9.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='js/dataTables/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/jszip.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/pdfmake.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/vfs_fonts.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/buttons.html5.min.js') }}"></script>
{% if action == "checker" %}
{% set column_for_sort = 3 %}
{% else %}
{% set column_for_sort = 4 %}
{% endif %}
<script>
    $(document).ready(function() {
        $('#alerts_table').on( 'page.dt' )
            .DataTable( {
                dom: 'Blfrtip',
                colReorder: true,
                "pageLength": 25,
                "order": [ {{ column_for_sort }}, "desc" ],
                stateSave: true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "columnDefs": [
                    {
                        "searchable": false,
                        "orderable": false
                    }
                ],
                buttons: [
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
            } );
    } );
</script>
<table class="overview hover order-column display compact" id="alerts_table">
    <thead>
        <tr class="overviewHead">
            <th class="padding10" style="width: 10%; padding-left: 10px;">{{lang.words.level|title()}}</th>
            {% if action == 'smon' %}
                <th>{{lang.words.check|title()}}</th>
            {% else %}
                <th>{{lang.words.host|title()}}</th>
            {% endif %}
            {% if action != "checker" %}
            <th>{{lang.words.port|title()}}</th>
            {% endif %}
            <th>{{lang.words.alert|title()}}</th>
            <th>{{lang.words.date|title()}}</th>
            <th>{{lang.words.time|title()}}</th>
        </tr>
    </thead>
    <tbody>
    {% if smon != '' %}
    {% for t in smon %}
    <tr>
        <td class="padding10" style="width: 10%; padding: 7px 7px 7px 10px;">
            {% if t.level == 'info' %}
                {% set color = '#5ad05a' %}
            {% elif t.level == 'warning' %}
                {% set color = '#daa70e' %}
            {% else %}
                {% set color = '#be2424' %}
            {% endif %}
            <span style="color: {{color}};"><b>{{t.level |upper}}</b></span>
        </td>
        <td>
            {% if action == 'smon' %}
            <a href="/rmon/history/host/{{t.ip|replace("'","")}}" title="{{lang.words.open|title()}} {{lang.words.history}} {{lang.words.for}} {{t.ip}} {{lang.words.host}}">{{t.ip|replace("'","")}}</a>
            {% else %}
            <a href="/history/server/{{t.ip|replace("'","")}}" title="{{lang.words.open|title()}} {{lang.words.history}} {{lang.words.for}} {{t.ip}} {{lang.words.host}}">{{t.ip|replace("'","")}}</a>
            {% endif %}
        </td>
        {% if action != "checker" %}
        <td>{{t.port}}</td>
        {% endif %}
        <td>{{t.message}}</td>
        <td>{{t.date|strftime('%Y %m %d')}}
        </td>
        <td>{{t.date|strftime('%H:%M:%S')}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <span class="alert alert-warning" style="margin-bottom: 0px;">{{lang.words.table|title()}} {{lang.words.is}} {{lang.words.empty}}</span>
    {% endif %}
    </tbody>
</table>
