<link href="{{ url_for('static', filename='css/table-6.3.9.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='js/dataTables/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/jszip.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/pdfmake.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/vfs_fonts.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables/buttons.html5.min.js') }}"></script>
{% if action == "checker" %}
{% set column_for_sort = 3 %}
{% else %}
{% set column_for_sort = 4 %}
{% endif %}
{% if multi_check_id %}
{% set additional_uri = '/' + multi_check_id|string() %}
{% endif %}
<script>
    $(document).ready(function() {
        $('#alerts_table').on( 'page.dt' )
            .DataTable({
                dom: 'Blfrtip',
                colReorder: true,
                "pageLength": 25,
                "order": [{{ column_for_sort }}, "desc"],
                stateSave: true,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "columnDefs": [
                    {
                        "searchable": false,
                        "orderable": false
                    }
                ],
                buttons: [
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
        {% if not history %}
                processing: true,
                serverSide: true,
                ajax: {
                    url: api_v_prefix + '/rmon/history{{ additional_uri }}',
                    data: function (d) {
                        d.offset = Math.floor(d.start / d.length) + 1; // Номер страницы
                        d.limit = d.length; // Размер страницы (остается как есть)
                        d.check_name = d.search.value;
                        let sort_column = d.order[0].column;
                        let sort_direction = d.order[0].dir;
                        let sort_column_name = d.columns[sort_column].data;
                        let sort_by = ''
                        if (sort_direction === 'asc') {
                            sort_by = '-' + sort_column_name;
                        } else {
                            sort_by = sort_column_name;
                        }
                        d.sort_by = sort_by;
                        // Можно удалить параметр start, если сервер его не ожидает
                        delete d.columns;
                        delete d.start;
                        delete d.draw;
                        delete d.order;
                        delete d.search;
                        delete d.length;

                        return d;
                    },
                    dataSrc: function (json) {
                        // Преобразование поля Total -> recordsTotal
                        json.recordsTotal = json.total;
                        json.recordsFiltered = json.total_filtered;

                        // Возвращаем данные из results
                        return json.results;
                    }
                },
                columns: [
                    {
                        data: "level", orderable: false,
                        render: function (data, type, row, meta) {
                            // Здесь преобразуем поле "level"
                            if (data === 'critical') {
                                return '<span style="color: red; font-weight: bold;">' + data + '</span>';
                            } else if (data === 'warning' || data === 'error') {
                                return '<span style="color: orange; font-weight: bold;">' + data + '</span>';
                            } else if (data === 'info') {
                                return '<span style="color: green; font-weight: bold;">' + data + '</span>';
                            } else {
                                return data; // Любое другое значение отображается без изменений
                            }
                        }, searchable: false
                    },
                    {
                        data: "name",
                        render: function (data, type, row, meta) {
                            return '<a href="/rmon/history/host/' + row.rmon_id + '" title="Open history for ' + data + '">' + data + '</a>'
                        }
                    },
                    {data: "port", orderable: false, searchable: false},
                    {data: "message", orderable: false, searchable: false},
                    {data: "date", searchable: false},
                ]
        {% endif %}
            } );
    } );
</script>
<table class="overview hover order-column display compact" id="alerts_table">
    <thead>
        <tr class="overviewHead">
            <th class="padding10" style="width: 10%; padding-left: 10px;">{{lang.words.level|title()}}</th>
            {% if action == 'smon' %}
                <th>{{lang.words.check|title()}}</th>
            {% else %}
                <th>{{lang.words.host|title()}}</th>
            {% endif %}
            {% if action != "checker" %}
            <th>{{lang.words.port|title()}}</th>
            {% endif %}
            <th>{{lang.words.alert|title()}}</th>
            <th>{{lang.words.date|title()}}</th>
        </tr>
    </thead>
    <tbody>
    {% if history != '' %}
    {% for t in history %}
    <tr>
        <td class="padding10" style="width: 10%; padding: 7px 7px 7px 10px;">
            {% if t.level == 'info' %}
                {% set color = '#5ad05a' %}
            {% elif t.level == 'warning' %}
                {% set color = '#daa70e' %}
            {% else %}
                {% set color = '#be2424' %}
            {% endif %}
            <span style="color: {{color}};"><b>{{t.level}}</b></span>
        </td>
        <td>
            {% if action == 'smon' %}
            <a href="/rmon/history/host/{{t.rmon_id}}" title="{{lang.words.open|title()}} {{lang.words.history}} {{lang.words.for}} {{t.ip}} {{lang.words.host}}">{{t.name|replace("'","")}}</a>
            {% else %}
            <a href="/history/server/{{t.ip|replace("'","")}}" title="{{lang.words.open|title()}} {{lang.words.history}} {{lang.words.for}} {{t.ip}} {{lang.words.host}}">{{t.ip|replace("'","")}}</a>
            {% endif %}
        </td>
        {% if action != "checker" %}
        <td>{{t.port}}</td>
        {% endif %}
        <td>{{t.message}}</td>
        <td>{{t.date}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <span class="alert alert-warning" style="margin-bottom: 0px;">{{lang.words.table|title()}} {{lang.words.is}} {{lang.words.empty}}</span>
    {% endif %}
    </tbody>
</table>
