{% import 'languages/'+lang|default('en')+'.html' as lang %}
<td class="padding10 first-collumn">
    <a href="/history/server/{{ service_status.0 }}" title="{{ lang.words.server|title() }} {{lang.words.history}}" class="logs_link">
        {{ service_status.1 }}
    </a>
</td>
<td>
    {% if service_status.2|int() == 0 %}
        <span class="serverNone server-status" title="{{ lang.words.agent|title() }} {{lang.phrases.is_not_installed}}"
    {% else %}
        {% if service_status.3.running %}
            <span class="serverUp server-status" title="{{ lang.words.agent|title() }} {{lang.words.running2}}"
        {% else %}
            <span class="serverDown server-status" title="{{ lang.words.agent|title() }} {{lang.words.stopped}}"
        {% endif %}
    {% endif %}
        style="margin-left: 25px !important;" id="agent_{{service_status.0}}"></span>
</td>
<td></td>
