{% import 'languages/'+lang|default('en')+'.html' as lang %}
<div class="server-info">
	<div class="server-name">
		{{lang.words.server_status|title()}}
		<span class="update-icon">
			<a onclick="showOverviewServer('{{id}}')" title="{{lang.words.refresh|title()}}">
				<span class="service-reload"></span>
			</a>
		</span>
	</div>
    <div class="top-info" style="width: 640px;">
        <div id="cpu_div" style="height: 140px;width: 50%;float: left; margin:0; padding:0;">
            <canvas id="cpu" role="img"></canvas>
        </div>
        <div id="ram_div" style="height: 140px;width: 50%;float: right;margin:0; padding:0;">
            <canvas id="ram" role="img"></canvas>
        </div>
	</div>
</div>
