**
!Dockerfile
!requirements.txt
!app.wsgi
!gunicorn.conf.py
!scheduler_runner.py
!operations_runner.py
!runtime_health.py
!rotate_credential_secret.py
!favicon.ico
!LICENSE
!NOTICE
!LICENSING.md
!app/
!app/**
!config_other/
!config_other/**
!container/
!container/**
**/__pycache__
**/*.pyc
app/tools/
app/scripts/ansible/inventory/
app/scripts/ansible/artifacts/
app/scripts/ansible/env/
