{% import 'languages/'+lang|default('en')+'.html' as lang %}
{% from 'include/input_macros.html' import input, checkbox, copy_to_clipboard %}
<div id="country-{{country.id}}" class="div-server-hapwi">
    <div class="server-name">
        <span class="overflow" style="width: 192px;">
            <span id="country-name-{{country.id}}" style="margin-top: 4px;display: inline-block;">
                {{country.name.replace("'","")}}
            </span>
            <span id="country-desc-{{country.id}}">{% if country.description %} ({{country.description.replace("'", "")}}) {% endif %}</span>
        </span>
    {% if g.user_params['group_id']|string() == country.group_id|string() or g.user_params['role'] == 1 %}
        <span class="server-action">
            {% if g.user_params['role'] <= 2 %}
            <a class="edit" onclick="addCountryDialog('{{country.id}}', true)"></a>
            <a class="delete" onclick="confirmDeleteCountry('{{country.id}}')"></a>
            {% endif %}
        </span>
    {% endif %}
    </div>
    <div class="server-desc">
        <div>
            <b>{{ lang.words.country|title() }} ID</b>: {{ country.id }}
        </div>
        <div>
            <b>{{ lang.words.shared|title() }}</b>: {% if country.shared %} {{ lang.words.yes|title() }} {% else %} {{ lang.words.no|title() }} {% endif %}
        </div>
        <div>
            <b>{{ lang.words.regions|title() }}</b>:
            <div class="region-list">
            {% for region in regions %}
                <div class="region-list-child">{{region.name.replace("'", "")}}</div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $( function() {
        $('.copyToClipboard').hover(function () {
            $.getScript("/static/js/fontawesome.min.js");
        });
        $('.copyToClipboard').click(function () {
            let str = $(this).attr('data-copy');
            const el = document.createElement('textarea');
            el.value = str;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        });
    })
</script>
