<script src="{{ url_for('static', filename='js/rmon/check.js') }}"></script>
<link href="{{ url_for('static', filename='css/datetimepicker.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/datetimepicker.full.min.js') }}"></script>
<style>
    .check-name {
        width: 210px;
    }
    .overview {
        width: 50%;
    }
    .validateTips {
        width: 1175px;
    }
</style>
<script>
    $(function () {
        $.datetimepicker.setLocale('{{ chosen_lang }}');
        $('#new-smon-expiration').datetimepicker({
            format: 'Y-m-d H:i',
            minDate: 0,
            step: 1,
        });
    });
</script>
<div id="smon-add-table" style="display: none;">
	<table class="overview" id="smon-add-table-overview" title="{{lang.words.create|title()}} {{lang.words.w_a}} {{lang.words.new}} {{lang.words.server}} {{lang.words.for}} {{lang.words.monitoring}}"
    data-edit="{{lang.words.edit|title()}} {{lang.words.w_a}} {{lang.words.new}} {{lang.words.server}} {{lang.words.for}} {{lang.words.monitoring}}">
		{% include 'include/tr_validate_tips.html' %}
    </table>
    <table class="overview"  style="float: left;">
		<tr>
			<td class="padding20">
				{{lang.words.name|title()}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-name', style="width: 240px;") }}
			</td>
		</tr>
		<tr>
			<td class="padding20">
				Place
				<span class="need-field">*</span>
			</td>
			<td>
                <select name="new-smon-place" id="new-smon-place">
                    <option value="all">{{ lang.words.all|title() }} {{ lang.words.regions }}</option>
                    <option value="country">{{ lang.words.countries|title() }}</option>
                    <option value="region">{{ lang.words.regions|title() }}</option>
                    <option value="agent">{{ lang.words.agents|title() }}</option>
                </select>
			</td>
		</tr>
        <tr style="display: none;" id="agent_tr">
            <td colspan="2">
            <div class="country">
                <div id="checked-entities" class="enabled-check" style="height: auto"></div>
                <div id="all-entities" style="height: auto"></div>
            </div>
            </td>
        </tr>
		<tr>
			<td class="padding20">
				{{lang.words.checking|title()}}
				<span class="need-field">*</span>
			</td>
			<td>
				{% set check_types = {'dns': 'DNS', 'ping': 'Ping', 'smtp': 'SMTP', 'rabbitmq': 'RabbitMQ', 'tcp': 'TCP', 'http': 'HTTP(s)'} %}
				{{ select('check_type', values=check_types, selected='http') }}
			</td>
		</tr>
		<tr>
			<td class="padding20" title="{{ lang.phrases.check_interval_title }}">
				{{lang.phrases.check_interval}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-interval', value='120', type='number', placeholder='120', title=lang.phrases.check_interval_title, style="width: 240px;") }}
			</td>
		</tr>
		<tr class="new_smon_hostname">
			<td class="padding20">
				{{lang.words.Hostname}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-ip', style="width: 240px;") }}
			</td>
		</tr>
		<tr class="smon_ping_check">
			<td class="padding20">
				{{lang.smon_page.desc.packet_size}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-packet_size', value='56', type='number', placeholder='56', style="width: 240px;") }}
			</td>
		</tr>
		<tr class="smon_ping_check">
			<td class="padding20">
				{{lang.smon_page.desc.count_packets}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-count_packets', value='5', type='number', placeholder='5', style="width: 240px;") }}
			</td>
		</tr>
		<tr class="smon_dns_check">
			<td class="padding20">
				Resolver {{lang.words.server}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-resolver-server', value='8.8.8.8', style="width: 240px;") }}
			</td>
		</tr>
		<tr class="smon_tcp_check smon_dns_check smon_smtp_check smon_rabbit_check">
			<td class="padding20">
				{{lang.words.port|title()}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-port', type='number', style="width: 240px;") }}
			</td>
		</tr>
		<tr class="smon_smtp_check smon_rabbit_check">
			<td class="padding20">
				{{lang.words.username|title()}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-username', placeholder='example@example.com', style="width: 240px;") }}
			</td>
		</tr>
		<tr class="smon_smtp_check smon_rabbit_check">
			<td class="padding20">
				{{lang.words.password|title()}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-password', type='password', style="width: 240px;") }}
			</td>
		</tr>
		<tr class="smon_rabbit_check">
			<td class="padding20">
				VHost
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-vhost', type='vhost', value='/', style="width: 240px;") }}
			</td>
		</tr>
		<tr>
			<td class="padding20">
				{{lang.words.timeout|title()}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-timeout', type='number', style="width: 240px;", value=10) }}
			</td>
		</tr>
			<td class="padding20">
				{{lang.words.Retries}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-retries', type='number', style="width: 240px;", value=3) }}
                <div class="tooltip" style="padding: 0">{{ lang.smon_page.desc.retries_desc }}</div>
			</td>
		</tr>
		<tr class="smon_http_check">
			<td class="padding20">
				URL
				<span class="need-field">*</span>
			</td>
			<td>{{ input('new-smon-url', value='https://', title='proto://url[:port]/', placeholder='proto://url[:port]/', style="width: 240px;") }}</td>
		</tr>
		<tr class="smon_http_check">
			<td class="padding20">{{lang.words.body|title()}} {{lang.words.response}}</td>
			<td>{{ input('new-smon-body', style="width: 240px;") }}</td>
		</tr>
		<tr class="smon_http_check">
			<td class="padding20">HTTP {{lang.words.method}}</td>
			<td>
				{% set http_methods = {'get': 'GET', 'post': 'POST', 'put': 'PUT', 'head': 'HEAD', 'patch': 'PATCH', 'delete': 'DELETE', 'options': 'OPTIONS'} %}
				{{ select('new-smon-method', values=http_methods, selected='get') }}
			</td>
		</tr>
		<tr class="smon_http_check">
			<td class="padding20">{{lang.words.body|title()}} {{lang.words.request}}</td>
			<td>
				<textarea id="new-smon-body-req" cols="50" rows="5" class="form-control" title="JSON only" placeholder="Example:
{
    &quot;key&quot;: &quot;value&quot;
}"></textarea>
			</td>
		</tr>
		<tr class="smon_http_check">
			<td class="padding20">{{lang.words.headers|title()}} {{lang.words.request}}</td>
			<td>
				<textarea id="new-smon-header-req" cols="50" rows="5" class="form-control" title="JSON only" placeholder="Example:
{
    &quot;Header&quot;: &quot;Value&quot;
}"></textarea>
			</td>
		</tr>
		<tr class="smon_http_check">
			<td class="padding20">
				{{lang.phrases.accepted_status_code}}
				<span class="need-field">*</span>
			</td>
			<td>
				{{ input('new-smon-status-code', type='number', style="width: 240px;", value=200) }}
			</td>
		</tr>
		<tr class="smon_http_check">
			<td class="padding20">
				{{lang.smon_page.desc.redirects}}
			</td>
			<td>
				{{ input('new-smon-redirects', type='number', style="width: 240px;", value=10) }}
                <div class="tooltip" style="padding: 0">{{ lang.smon_page.desc.redirects_desc }}</div>
			</td>
		</tr>
		<tr>
			<td class="padding20">{{lang.words.enable|title()}}</td>
			<td>
				{{ checkbox('new-smon-enable', checked='checked') }}
			</td>
		</tr>
		<tr class="smon_http_check smon_smtp_check">
			<td class="padding20">{{lang.phrases.ignore_ssl_error}}</td>
			<td>
				{{ checkbox('new-smon-ignore_ssl_error') }}
			</td>
		</tr>
		<tr class="smon_dns_check">
			<td class="padding20">
				{{lang.phrases.resource_record_type}}
				<span class="need-field">*</span>
			</td>
			<td>
				{% set check_types = {'a': 'A', 'aaa': 'AAA', 'caa': 'CAA', 'cname': 'CNAME', 'mx': 'MX', 'ns': 'NS',
				'ptr': 'PTR', 'sao': 'SAO', 'srv': 'SRV', 'txt': 'TXT'} %}
				{{ select('new-smon-dns_record_type', values=check_types, selected='a') }}
			</td>
		</tr>
    </table>
    <table class="overview" style="border-left: 1px solid #ddd;margin-left: 10px;">
        <tr>
            <td class="padding20">{{ lang.phrases.expiration_date }}</td>
            <td>
                {{ input('new-smon-expiration', placeholder="YYYY-MM-DD HH:MM") }}
                <div class="tooltip" style="padding: 0">{{ lang.words.time|title() }} UTC</div>
            </td>
        </tr>
		<tr>
			<td class="padding20">Telegram</td>
			<td>
				<select id="new-smon-telegram">
					<option value="0">{{lang.words.disabled|title()}}</option>
				{% for t in telegrams %}
					<option value="{{t.id}}">{{t.chanel_name.replace("'", "")}}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td class="padding20">Slack</td>
			<td>
				<select id="new-smon-slack">
					<option value="0">{{lang.words.disabled|title()}}</option>
				{% for t in slacks %}
					<option value="{{t.id}}">{{t.chanel_name.replace("'", "")}}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td class="padding20">PagerDuty</td>
			<td>
				<select id="new-smon-pd">
					<option value="0">{{lang.words.disabled|title()}}</option>
				{% for t in pds %}
					<option value="{{t.id}}">{{t.chanel_name.replace("'", "")}}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
        <tr>
			<td class="padding20">Mattermost</td>
			<td>
				<select id="new-smon-mm">
					<option value="0">{{lang.words.disabled|title()}}</option>
				{% for t in mms %}
					<option value="{{t.id}}">{{t.chanel_name.replace("'", "")}}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
        <tr>
			<td class="padding20">Email</td>
			<td>
				<select id="new-smon-email">
					<option value="0">{{lang.words.disabled|title()}}</option>
				{% for t in emails %}
					<option value="{{t.id}}">{{t.chanel_name.replace("'", "")}}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
        <tr>
			<td class="padding20">{{ lang.words.priority|title() }}</td>
			<td>
				<select id="new-smon-priority">
					<option value="info">{{lang.words.info|title()}}</option>
					<option value="warning">{{lang.words.warning|title()}}</option>
					<option value="error">{{lang.words.error|title()}}</option>
					<option value="critical" selected>{{lang.words.critical|title()}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="padding20">{{lang.words.runbook|title()}}</td>
			<td>{{ input('new-smon-runbook', style="width: 240px;", placeholder="https://wiki.example.com/runbook/help") }}</td>
		</tr>
		<tr>
			<td class="padding20">{{lang.words.group|title()}}</td>
			<td>{{ input('new-smon-group', style="width: 240px;") }}</td>
		</tr>
		<tr>
			<td class="padding20">{{lang.words.desc|title()}}</td>
			<td>{{ input('new-smon-description', style="width: 240px;") }}</td>
		</tr>
	</table>
</div>
{% include 'include/del_confirm.html' %}
