{% extends "base.html" %}
{% block title %}{{ lang.menu_links.monitoring.smon.agent }}{% endblock %}
{% block content %}
{% from 'include/input_macros.html' import input, select %}
<script src="{{ url_for('static', filename='js/rmon/agent.js') }}"></script>
<script src="{{ url_for('static', filename='js/rmon/smon.js') }}"></script>
<script src="{{ url_for('static', filename='js/rmon/region.js') }}"></script>
<script src="{{ url_for('static', filename='js/rmon/country.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.timeago.js') }}" type="text/javascript"></script>
<link href="{{ url_for('static', filename='css/servers.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/smon.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/ha.css') }}" rel="stylesheet">
{% if smon_status in ('failed', 'inactive', 'ERROR') %}
<div style="text-align: center;">
	<br />
	<h3>{{lang.smon_page.desc.smon_is_not_run}}</h3>
	<img src="{{ url_for('static', filename='images/no_servers.png')}}" alt="There is no server">
	<h4>{{lang.smon_page.desc.run_smon}} <a href="/users/services" title="RMON services" target="_blank">{{lang.words.here}}</a> {{lang.smon_page.desc.before_use}}</h4>
</div>
{% else %}
{% if g.user_params['role'] <= 2 %}
<div style="margin-top: 10px; margin-bottom: 20px;">
    <span class="add-button add-button-big" title="{{lang.smon_page.desc.add_agent}}" onclick="addAgentDialog();">+ {{lang.smon_page.desc.add_agent}}</span>
    <span class="add-button add-button-big" title="{{lang.smon_page.desc.add_region}}" onclick="addRegionDialog();">+ {{lang.smon_page.desc.add_region}}</span>
    <span class="add-button add-button-big" title="{{lang.smon_page.desc.add_region}}" onclick="addCountryDialog();">+ {{lang.smon_page.desc.add_country}}</span>
</div>
{% endif %}
<div class="up-pannel" id="countries">
    <div class="smon_group">
        <div class="group_name">
            <span class="smon_group_name entity_grouping">{{ lang.words.countries|title() }}</span>
            <span id="show-smon-group-countries" class="plus switcher_table_metric smon_group_switcher" onclick="showSmonGroup('countries')" title="{{lang.words.open|title()}} {{lang.words.group}}"></span>
            <span id="hide-smon-group-countries" class="minus switcher_table_metric smon_group_switcher" onclick="hideSmonGroup('countries')" style="display: none;" title="{{lang.words.hide}}"></span>
        </div>
        <div class="smon_named_group" id="smon-group-countries">
            {% for country in countries %}
            <div id="country-{{country.id}}" class="div-server-hapwi animated-background"></div>
            {% endfor %}
        </div>
    </div>
    <div class="smon_group">
        <div class="group_name">
            <span class="smon_group_name entity_grouping">{{ lang.words.regions|title() }}</span>
            <span id="show-smon-group-regions" class="plus switcher_table_metric smon_group_switcher" onclick="showSmonGroup('regions')" title="{{lang.words.open|title()}} {{lang.words.group}}"></span>
            <span id="hide-smon-group-regions" class="minus switcher_table_metric smon_group_switcher" onclick="hideSmonGroup('regions')" style="display: none;" title="{{lang.words.hide}}"></span>
        </div>
        <div class="smon_named_group" id="smon-group-regions">
            {% for region in regions %}
            <div id="region-{{region.id}}" class="div-server-hapwi animated-background"></div>
            {% endfor %}
        </div>
    </div>
    <div class="smon_group">
        <div class="group_name">
            <span class="smon_group_name entity_grouping">{{ lang.words.agents|title() }}</span>
            <span id="show-smon-group-agents" class="plus switcher_table_metric smon_group_switcher" onclick="showSmonGroup('agents')" title="{{lang.words.open|title()}} {{lang.words.group}}"></span>
            <span id="hide-smon-group-agents" class="minus switcher_table_metric smon_group_switcher" onclick="hideSmonGroup('agents')" style="display: none;" title="{{lang.words.hide}}"></span>
        </div>
        <div class="smon_named_group" id="smon-group-agents">
            {% for agent in agents %}
            <div id="agent-{{agent.id}}" class="div-server-hapwi animated-background"></div>
            {% endfor %}
        </div>
    </div>
</div>
    <div id="add-agent-page" style="display: none;">
        <table class="overview" id="add-agent-page-overview"
               title="{{lang.words.create|title()}} {{lang.words.w_a}} {{lang.words.new2}} {{lang.words.agent}}"
               data-edit="{{lang.words.edit|title()}} {{lang.words.agent}}">
            {% include 'include/tr_validate_tips.html' %}
            <tr>
                <td class="padding20">
                    {{lang.words.server|title()}}
                    <span class="need-field">*</span>
                </td>
                <td>
                    <select name="new-agent-server-id" id="new-agent-server-id">
                        <option value="------" disabled selected>------</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="padding20" style="width: 50%">
                    {{lang.words.port|title()}}
                    <span class="need-field">*</span>
                </td>
                <td>
                    {{ input('new-agent-port', autofocus='autofocus', value='5101') }}
                </td>
            </tr>
            <tr>
                <td class="padding20" style="width: 50%">
                    {{lang.words.name|title()}}
                    <span class="need-field">*</span>
                </td>
                <td>
                    {{ input('new-agent-name', autofocus='autofocus') }}
                </td>
            </tr>
            <tr>
                <td class="padding20">{{lang.words.enable|title()}}</td>
                <td>
                    {{ checkbox('new-agent-enabled', checked='checked') }}
                </td>
            </tr>
            <tr>
                <td class="padding20">{{lang.words.shared|title()}}</td>
                <td>
                    {{ checkbox('new-agent-shared') }}
                </td>
            </tr>
            <tr>
                <td class="padding20" style="width: 50%">
                    {{lang.words.desc|title()}}
                </td>
                <td>
                    {{ input('new-agent-desc', autofocus='autofocus') }}
                </td>
            </tr>
        </table>
    </div>
    <div id="add-region-page" style="display: none;">
        <table class="overview" id="add-region-page-overview"
               title="{{lang.words.create|title()}} {{lang.words.w_a}} {{lang.words.new2}} {{lang.words.region}}"
               data-edit="{{lang.words.edit|title()}} {{lang.words.region}}">
            {% include 'include/tr_validate_tips.html' %}
            <tr>
                <td class="padding20" style="width: 50%">
                    {{lang.words.name|title()}}
                    <span class="need-field">*</span>
                </td>
                <td>
                    {{ input('new-region-name', autofocus='autofocus') }}
                </td>
            </tr>
            <tr>
                <td class="padding20">{{lang.words.enable|title()}}</td>
                <td>
                    {{ checkbox('new-region-enabled', checked='checked') }}
                </td>
            </tr>
            <tr>
                <td class="padding20">{{lang.words.shared|title()}}</td>
                <td>
                    {{ checkbox('new-region-shared') }}
                </td>
            </tr>
            <tr>
                <td class="padding20" style="width: 50%">
                    {{lang.words.desc|title()}}
                </td>
                <td>
                    {{ input('new-region-desc', autofocus='autofocus') }}
                </td>
            </tr>
        </table>
        <div class="agents">
            <div id="checked-agents" class="enabled-check"></div>
            <div id="all-agents"></div>
        </div>
    </div>
    <div id="add-country-page" style="display: none;">
        <table class="overview" id="add-region-page-overview"
               title="{{lang.words.create|title()}} {{lang.words.w_a}} {{lang.words.new2}} {{lang.words.country}}"
               data-edit="{{lang.words.edit|title()}} {{lang.words.country}}">
            {% include 'include/tr_validate_tips.html' %}
            <tr>
                <td class="padding20" style="width: 50%">
                    {{lang.words.name|title()}}
                    <span class="need-field">*</span>
                </td>
                <td>
                    {{ input('new-country-name', autofocus='autofocus') }}
                </td>
            </tr>
            <tr>
                <td class="padding20">{{lang.words.enable|title()}}</td>
                <td>
                    {{ checkbox('new-country-enabled', checked='checked') }}
                </td>
            </tr>
            <tr>
                <td class="padding20">{{lang.words.shared|title()}}</td>
                <td>
                    {{ checkbox('new-country-shared') }}
                </td>
            </tr>
            <tr>
                <td class="padding20" style="width: 50%">
                    {{lang.words.desc|title()}}
                </td>
                <td>
                    {{ input('new-country-desc', autofocus='autofocus') }}
                </td>
            </tr>
        </table>
        <div class="country">
            <div id="checked-regions" class="enabled-check"></div>
            <div id="all-regions"></div>
        </div>
    </div>
    <div id="dialog-confirm" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 12px 20px 0;"></span>{{lang.phrases.are_you_sure}}</p>
    </div>
{% endif %}
<script>
    {% for agent in agents %}
        getAgent('{{agent.id}}');
    {% endfor %}
    {% for region in regions %}
        getRegion('{{region.id}}');
    {% endfor %}
    {% for country in countries %}
        getCountry('{{country.id}}');
    {% endfor %}
    {% for entity in ('agents', 'regions', 'countries') %}
    isSmonGroupShowed('{{ entity }}')
    {% endfor %}
</script>
{% include 'include/smon/dialogs.html' %}
{% endblock %}
