{% extends "base.html" %}
{% block title %}{{ lang.words.overview|title() }} {{ lang.words.region }}{% endblock %}
{% block h2 %}{{ lang.words.overview|title() }} {{ lang.words.region }}{% endblock %}
{% block content %}
{% from 'include/input_macros.html' import input, select, checking_types %}
<script src="{{ url_for('static', filename='js/overview.js') }}"></script>
<script src="{{ url_for('static', filename='js/rmon/region.js') }}"></script>
<script src="{{ url_for('static', filename='js/rmon/smon.js') }}"></script>
<script src="{{ url_for('static', filename='js/rmon/agent.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.timeago.js') }}" type="text/javascript"></script>
<link href="{{ url_for('static', filename='css/servers.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/smon.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/ha.css') }}" rel="stylesheet">
<div id="region-{{region.id}}" class="div-server-hapwi">
    <div class="server-name">
        <span class="overflow" style="width: 192px;">
            <span id="region-name-{{region.id}}" style="margin-top: 4px;display: inline-block;">
                {{region.name.replace("'","")}}
            </span>
            <span id="region-desc-{{region.id}}">{% if region.description %} ({{region.description.replace("'", "")}}) {% endif %}</span>
        </span>
    {% if g.user_params['group_id']|string() == region.group_id|string() or g.user_params['role'] == 1 %}
        <span class="server-action">
            {% if g.user_params['role'] <= 2 %}
            <a class="edit" onclick="addRegionDialog('{{region.id}}', true)"></a>
            <a class="delete" onclick="confirmDeleteRegion('{{region.id}}')"></a>
            {% endif %}
        </span>
    {% endif %}
    </div>
    <div class="server-desc">
        <div>
            <b>{{ lang.words.region|title() }} ID</b>: {{ region.id }}
            <b>{{ lang.smon_page.desc.total_checks }}</b>: <span id="total_region_checks-{{ region.id }}"></span>
        </div>
        <div>
            <b>{{ lang.words.enabled|title() }}</b>: {% if region.enabled %} {{ lang.words.yes|title() }} {% else %} {{ lang.words.no|title() }} {% endif %}
            <b>{{ lang.words.shared|title() }}</b>: {% if region.shared %} {{ lang.words.yes|title() }} {% else %} {{ lang.words.no|title() }} {% endif %}
        </div>
        <div>
            <b>{{ lang.words.agents|title() }}</b>: <br />
        </div>
        <div>
            <b>{{ lang.words.agents|title() }}</b>: <br />
            {% for agent in agents %}
                <a href="/rmon/agent/{{ agent.id }}" title="{{ lang.words.more|title }} {{ lang.words.info }}">{{agent.name.replace("'","")}}</a><br />
            {% endfor %}
        </div>
    </div>
</div>
    {% include 'include/smon/checks_for_overview.html' %}
<div id="dialog-confirm" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 12px 20px 0;"></span>{{lang.phrases.are_you_sure}}</p>
</div>
    {% include 'include/smon/dialogs.html' %}
<script>
    getRegion('{{region_id}}');
</script>
    {% include 'include/smon/add_form.html' %}
{% endblock %}
