<html lang="{{lang|default('en')}}">
{% import 'languages/'+lang|default('en')+'.html' as lang %}
{% for p in page %}
    <head>
        <title>{{p.name}}</title>
        <meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/static/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/images/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/static/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <script defer src="{{ url_for('static', filename='js/fontawesome.min.js') }}"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
        <script>FontAwesomeConfig = { searchPseudoElements: true, observeMutations: false };</script>
        <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style-6.3.9.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/smon.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/variables.js') }}"></script>
        <script src="{{ url_for('static', filename='js/smon.js') }}"></script>
        <link href="{{ url_for('static', filename='css/toastr-6.3.9.css') }}" rel="stylesheet"/>
		<script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
        <link href="{{ url_for('static', filename='css/awesome-6.3.9.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/chart.min-4.3.0.js') }}"></script>
        <script src="{{ url_for('static', filename='js/metrics.js') }}"></script>
    </head>
    <body>
        <style>
            {{ p.custom_style|replace("'", "")|replace('"', '') }}
        </style>
        <h2>Status page - {{p.name|replace("'", "")}}</h2>
        <h3>{{p.description|replace("'", "")}}</h3>
        <div id="page_status" class="page_cur_status"></div>
        {% for check, value in checks_status.items() %}
        {% if value.uptime|int() > 50 and value.uptime|int() < 90  %}
            {% set add_class = 'serverWarn' %}
        {% elif value.en|int() == 0 %}
            {% set add_class = 'serverNone' %}
        {% elif value.uptime|int() < 50  %}
            {% set add_class = 'serverDown' %}
        {% else %}
            {% set add_class = 'serverUP' %}
        {% endif %}
        <div class="check_div" title="{{value.description}}">
            <div>
                <span class="{{add_class}} check_uptime">{{value.uptime}}%</span>
                <span class="check_name">{{value.name|replace("'", "")}}</span>
            </div>
            <div class="history_statuses" id="history-{{check}}"></div>
            <div class="tooltip check_tooltip">Group: {{value.group}}, check type: {{value.check_type}}</div>
            <div class="tooltip check_tooltip check_last_check">
                last check
                <span id="en_table_metric-{{ check }}" class="plus switcher_table_metric" onclick="getSmonHistoryCheckDataStatusPage('{{ check }}', '{{value.check_type}}')" title="{{lang.words.show|title()}} {{lang.words.response}}"></span>
                <span id="dis_table_metric-{{ check }}" class="minus switcher_table_metric" onclick="hideSmonHistoryCheckDataStatusPage('{{ check }}')" style="display: none;" title="{{lang.words.hide}}"></span>
            </div>
            <div id="history-status-{{ check }}" style="display: none;">
                <div class="chart-container_overview" style="width: 98%;">
                    <canvas id="metrics_{{ check }}" role="img"></canvas>
                </div>
            </div>
        </div>
        <script>show_smon_history_statuses('{{check}}', '#history-{{check}}');</script>
        {% endfor %}
        <script>smon_status_page_avg_status('{{p.id}}');</script>
    </body>
</html>
{% endfor %}
